
.inwrap{
    display: flex;
    flex-flow: row;
}


.main{
    background: #F1F5F9;
    padding: 20px;
    margin-top: 56px;
    height: calc(100vh -56px);
    width: calc(100% - 210px);
}


.findebox{
    padding: 20px 14px;
    width: 100%;
    height: 62px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #E5E7EB;
}





.findeboxlft{
    gap: 16;
    display: flex;
}



.jgfmin{
    height: 34px;
    display: flex;
    flex-flow: row wrap;
}
.jgfmin p{
    width: 34px;
    background-color: #F9FAFB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #D1D5DB;
}
.jgfmin p:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.jgfmin p:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.jgfmin p:hover{
    background-color: #d3d3d4;
}
.jgfmin input{
    cursor: pointer;
    width: 183px;
    background-color: #FFFFFF;
    display: flex;
    border: 1px solid #D1D5DB;
    border-left: none;
    border-right: none;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}




.lbl{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8;
}
.lbl p{
    font-weight: bold;
    font-size: 13px;
}
.lbl select{
    font-size: 13px;
    height: 34px;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    padding:0 9px;
    width: 160px;
}


.fdbtns{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83px;
    height: 34px;
    background: #1B3A6B;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    gap: 3;
    cursor: pointer;
}
.fdbtns:hover{
    background: #3567b7;
}




.findeboxret{
    font-weight: bold;
    font-size: 12px;
    display: flex;
    gap: 8;
}
.findeboxret li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5;
}
.findeboxret li span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 10px;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}


.cg span{
    background: #E2E8F0;
}
.jg span{
    background: #FED7AA;
}
.uc span{
    background: #BBF7D0;
}
.bc span{
    background: #BAE6FD;
}
.cj span{
    background: #DDD6FE;
}
.gg span{
    background: #FECACA;
}
.hi span{
    background: #CBD5E1;
}






.intable{
    margin-top: 16px;
    display: flex;
    flex-flow: row wrap;
    gap: 12;
    width: 100%;
 }

/* 테이블 위쪽타이들 부분 */
.fromtit{
    width: 100%;
    background-color: #F8FAFC; 
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0 ;
    padding: 10px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


.fromtit h1, .fromtit h2, .fromtit h3 {
    gap: 5px;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
}
.fromtit h1 { 
    color: #1B3A6B;
    font-weight: bold;
    font-size: 13px;
}
.fromtit h1 span{
    font-weight: normal;
    color: #9CA3AF;
}
.fromtit h1 p{
    padding: 0 5px;
    color: #EF4444;
}

.fromtitrt{
    display: flex;
}
.fromtitrt p{
    margin: 0 12px;
    width: 1px;
    background-color: wheat;
}

.fromtit h2, .fromtit h3{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bold;
}
.fromtit h2 span {
    color: #64748B;
}

.fromtit h3 span {
    color: #3B82F6;
}





.tablesbox{
    width: 100%;
}
.tablesbox ul{
    display: flex;
    flex-flow: row;
}
.tablesbox ul:first-child{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.tablesbox>ul li{
    width: 100%;
    display: flex; 
    align-items: center;
    flex-flow: row wrap; 
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 10px;
    background: #FFFFFF;
    padding: 5px 5px;
    color: #94A3B8;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.tablesbox ul li:nth-child(39)
{
    border-right: 1px solid rgba(0, 0, 0, 0);
}

.tablesbox ul:first-child li{
    background: #F1F5F9;
    color: #6B7280;
    font-weight: bold;
}


.tablesbox ul:first-child li:nth-child(1){
    color: #6B7280;
}
.tablesbox ul li:nth-child(1){
    font-size: 12px;
    flex: 3;
    font-weight: bold;
    color: black;
}

.tablesbox ul:first-child li:nth-child(2){
    flex: 4;
    color: #6B7280;
}
.tablesbox ul li:nth-child(2){
    font-size: 11px;
    flex: 4 ;
    color: black;
}

.tablesbox ul li:nth-child(34){
    flex: 1.5;
}
.tablesbox ul li:nth-child(35){
    flex: 1.5;
}
.tablesbox ul li:nth-child(36){
    flex: 1.5;
}
.tablesbox ul li:nth-child(37){
    flex: 1.5;
}
.tablesbox ul li:nth-child(38){
    flex: 1.5;
}
.tablesbox ul li:nth-child(39){
    flex: 1.5;
}




.tablesbox ul:first-child li.tbcg{
    font-weight: bold;
    background: #EFF6FF;
    color: #1D4ED8;
}
.tablesbox .tbcg{
    font-weight: bold;
    background: #EFF6FF;
    color: #1D4ED8;
}
.tablesbox ul:first-child li.tbjg{
    font-weight: bold;
    background: #FFF7ED;
    color: #EA580C;
}
.tablesbox .tbjg{
    font-weight: bold;
    background: #FFF7ED;
    color: #EA580C;
}
.tablesbox ul:first-child li.tbuc{
    font-weight: bold;
    background: #F0FDF4;
    color: #16A34A;
}
.tablesbox .tbuc{
    font-weight: bold;
    background: #F0FDF4;
    color: #16A34A;
}
.tablesbox ul:first-child li.tbgg{
    font-weight: bold;
    background: #FFF1F2;
    color: #E11D48;
}
.tablesbox .tbgg{
    font-weight: bold;
    background: #FFF1F2;
    color: #E11D48;
}
.tablesbox ul:first-child li.tbbc{
    font-weight: bold;
    background: #E0F2FE;
    color: #0284C7;
}
.tablesbox .tbbc{
    font-weight: bold;
    background: #E0F2FE;
    color: #0284C7;
}
.tablesbox ul:first-child li.tbcj{
    font-weight: bold;
    background: #F5F3FF;
    color: #7C3AED;
}
.tablesbox .tbcj{
    font-weight: bold;
    background: #F5F3FF;
    color: #7C3AED;
}


.tablesbox ul:first-child li.hh{
    background: #E8EDF2;
    color: #94A3B8;
}
.tablesbox .hh{
    background: #E8EDF2;
    color: #94A3B8;
}


