
.inwrap{
    display: flex;
    flex-flow: row;
    padding-top: 56px;
}


.main{
    background: #F1F5F9;
    padding: 20px;
    margin-top: 56px;
    height: calc(100vh -56px);
    width: calc(100% - 210px);
}

.lglb{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 660px;
    height: 844px;
    background: linear-gradient(235deg, #0F2547 14.1%, #1E40AF 85.9%);

}
.lglbin{
    gap: 10;
    width: 532px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.tspan{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5;
    padding: 7px 16px;
    color: #93C5FD;
    border-radius: 20px;
    background: #FFFFFF18;
    margin-bottom: 10px;
}
.lglbin h1{
    font-size: 38px;
    color: white;
    font-weight: bold;
}
.lglbin h2{
    font-size: 38px;
    color: #60A5FA;
    font-weight: bold;
}
.lglbin p{
    text-align: center;
    font-size: 15px;
    color: #BFDBFE;
}


.mpbox{
    margin-top: 10px;
    display: flex;
}
.mpbox h1{
    font-size: 26px;
}
.mpbox p{
    font-size: 12px ;
}
.mpbox li{
    width: 150px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.mpbox li:nth-child(2){
    border: 1px solid #FFFFFF25;
    border-top: none;
    border-bottom: none;
}



.bpbox{
    margin-top: 30px;
    gap: 10;
    display: flex;
    flex-flow: column;
}
.bpbox li{ 
    padding: 16px 18px;
    width: 532px;
    background-color: #FFFFFF12;
    border: 1px solid #FFFFFF20;
    border-radius: 10px;
    align-items: center;
    justify-content: left;
    display: flex;
    gap: 18;
}
.bimgbox{
    width: 38px;
    height: 38px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF15;
}
.btbox h1{
    font-size: 14px;
}
.btbox p{
    font-size: 12px;
}






.lgwrap{
    width: 780px;
    height: 844px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lglrin{
    width: 400px;
    height: 497px;
    display: flex;
    flex-flow: column;
}
.tlgbox h1{
    font-weight: bold;
    font-size: 30px;
}
.tlgbox p{
   color: #6B7280;
   font-size: 15px; 
}
.tlgbox{
    margin-bottom: 29px;
}
.lglrin label{
    cursor: pointer;
    margin-bottom: 14px;
    position: relative;
    width: 100%;
}

.lglrin label p{
    font-size: 13px;
}
.lglrin label input[type="text"], .lglrin label input[type="password"]{
    padding: 0 40px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #D1D5DB;
}
.laicon{
    color: #9CA3AF;
    position: absolute;
    top: 52%;
    left: 15px;
}
.laiconpw{
    color: #9CA3AF;
    position: absolute;
    top: 52%;
    right: 15px;
}

.lgbtns{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.lgbtns label{
    display: flex;
    gap: 5;
    cursor: pointer;
}
.lgbtns label input[type="checkbox"]{
    accent-color: #1E3A5F;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.lgbtns span{
    cursor: pointer;
    width: 105px;
    color: #2563EB;
    font-size: 13px;
}

.logedbtn{
    cursor: pointer;
    height: 50px;
    width: 100%;
    display: flex;
    gap: 10;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background: #1E3A5F;
    color: white;
}
.tnp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    font-size: 13px;
    color: #9CA3AF;
    position: relative;
}
.tnp span{
    z-index: 1;
    padding: 0 5px;
    background-color: rgb(255, 255, 255);
}

.tnp::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #E5E7EB;
}
.hone{
    font-size: 14px;
    margin-top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #6B7280;
}
.hone span{
    margin-left: 10px;
    color: #2563EB;
    cursor: pointer;
}