.inwrap {
    display: flex;
    flex-flow: row;
    position: relative;
}


.main {
    background: #F1F5F9;
    padding: 20px;
    margin-top: 56px;
    height: calc(100vh -56px);
    width: calc(100% - 210px);
}




.textbox {
    width: 100%;
}

.inputform {
    width: 100%;
    gap: 18px;
    display: flex;
    flex-flow: column;
}


.fromtit {
    width: 100%;
    background-color: #F8FAFC;
    border-radius: 8px;
    padding: 10px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


.fromtit h1,
.fromtit h2 {
    gap: 5px;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
}

.fromtit h1 {
    color: #1B3A6B;
    font-weight: bold;
    font-size: 13px;
}

.fromtit h2 {
    font-size: 12px;
    font-weight: bold;
    color: #2563EB;
}





.formbox {
    border: 1px solid #E5E7EB;
    border-top: none;
    gap: 16px 0;
    display: flex;
    flex-flow: column;
    padding: 20px;
    background-color: #FFFFFF;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.formboxtp {
    display: flex;
    flex-flow: row wrap;
    font-size: 13px;
    gap: 12px;
}

.tptits {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    gap: 8px;
    font-weight: bold;
}

.tptits span {
    height: 14px;
    border-radius: 10px;
    display: block;
    width: 3px;
    background-color: #1B3A6B;
}






.formboxtp p {
    font-weight: bold;
}

.formboxtp label {
    display: flex;
    flex-flow: column;
    gap: 6px 0;
}


.uhfm ul {
    display: flex;
}

.uhfm ul li {
    color: #6B7280;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    height: 36px;
    padding: 18px;
    gap: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D1D5DB;
    border-left: none;
    /* background: #1B3A6B; */
}

.uhfm ul li:first-child {
    color: white;
    border: 1px solid #1B3A6B;
    background: #1B3A6B;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.uhfm ul li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.uhfm p {
    border-radius: 6px;
    align-items: center;
    height: 40px;
    width: 328px;
    background: #EFF6FF;
    display: flex;
    font-style: 13px;
    flex-flow: row wrap;
    padding: 8px 14px;
    margin-top: 12px;
}

.uhfm p span {
    font-weight: bold;
    color: #1B3A6B;
    margin-left: 8px;
}


.formboxmd {
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
}



label.jgfm input,
.fmmdltinput select {
    font-size: 13px;
    padding: 0 12px;
    width: 162px;
    height: 36px;
    background-color: #F9FAFB;
    border-radius: 5px;
    border: 1px solid #FECACA;
}

label.jgfm {
    position: relative;
}

.formboxtp label:nth-child(2) input[type="text"] {
    width: 150px;
}

.formboxtp label:nth-child(3) input[type="text"] {
    width: 130px;
}

.formboxtp label:nth-child(4) input[type="text"] {
    width: 140px;
}

.formboxtp label:nth-child(5) input[type="text"] {
    width: 110px;
}

.formboxtp label:nth-child(6) input[type="text"] {
    width: 150px;
}

label.jgfm img {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    right: calc(0% + 12px);
    transform: translateY(50%);
}




.gjdsjjb {
    width: 100%;
    display: flex;
    flex-flow: column;
}

.gjdsjjb label.jgfm input,
.gjdsjjb select {
    font-size: 13px;
    padding: 0 12px;
    width: 162px;
    height: 36px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #FECACA;
}

.gjdsjjb label.jgfm {
    position: relative;
}

.gjdsjjb .formboxtp label:nth-child(2) input[type="text"] {
    width: 180px;
}

.gjdsjjb .formboxtp label:nth-child(3) select {
    width: 140px;
}

.gjdsjjb .formboxtp label:nth-child(4) input[type="date"] {
    width: 180px;
}

.gjdsjjb .formboxtp label:nth-child(5) input[type="text"] {
    width: 240px;
}


.jggj {
    width: 100%;
    display: flex;
    flex-flow: column;
}


.jggj label.jgfm input,
.jggj select {
    font-size: 13px;
    padding: 0 12px;
    width: 162px;
    height: 36px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #FECACA;
}

.jggj label.jgfm {
    position: relative;
}

.jggj .formboxtp label:nth-child(2) select {
    width: 160px;
}

.jggj .formboxtp label:nth-child(3) input[type="text"] {
    width: 240px;
}

.jggj .formboxtp label:nth-child(4) input[type="text"] {
    width: 140px;
}

.jggj .formboxtp button {
    cursor: pointer;
    margin-top: 25px;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    height: 36px;
    align-items: center;
    border-radius: 6px;
    padding: 0 16px;
    color: #16A34A;
    font-weight: bold;
    background: #F0FDF4;
    border: 1px solid #BBF7D0;
}

.jggj .formboxtp button:hover {
    background: #c7e8d0;
}




input[type="date"] {
    cursor: pointer;
}

select {
    cursor: pointer;
}



.textbox {
    margin-top: 16px;
}

.fmli {
    width: 100%;
    height: 2px;
    background: #F1F5F9;
}


.cmbpil {
    gap: 18;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-self: center;
}

.cmbpilin {
    width: 1150px;
    height: 80px;
    background: #F9FAFB;
    border: 1px solid #D1D5DB;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
}

.cmbpiltt {
    width: 308px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.cmbpiltt h1 {
    font-weight: bold;
    font-size: 13px;
    color: #6B7280;
}

.cmbpiltt h2 {
    font-size: 11px;
    color: #9CA3AF;
}

.cmbpil button {
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 111px;
    font-weight: bold;
    font-size: 13px;
    height: 28px;
    gap: 5;
    padding: 1px 16px;
    box-sizing: border-box;
    border-radius: 6px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
}



.formboxbt {
    width: 100%;
    display: flex;
    flex-flow: column;
}

.formboxbt h1 {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 6px;
}

.formboxbt textarea {
    width: 1150px;
    height: 82px;
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
}

.fmbtns {
    margin-top: 16px;
    display: flex;
    flex-flow: row;
    gap: 8px;
    justify-content: right;
}

.fmbtns button {
    font-weight: bold;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    gap: 3px;
    font-size: 13px;
    height: 36px;
    border: 1px solid #D1D5DB;
}

.fmbtns .css {
    width: 87px;
    color: black;
    background: #ffffff;
}

.fmbtns .jjs {
    color: white;
    background: #1B3A6B;
}

.textbox {
    margin-top: 16px;
}

.cmbpilfl {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 8px 12px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #E5E7EB;
}

.cmbpilfllft {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 5;
}

.cmbpilfllft h1 {
    font-size: 13px;
    font-weight: bold;
}

.cmbpilfllft h2 {
    font-size: 11px;
    color: #9CA3AF;
}

.cmbpilflret {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 5;
    font-size: 12px;
}

.cmbpilflret span {
    font-size: 15px;
}



.popin {
    width: calc(100% - 25px);
}

























.wrap {
    position: relative;
}





.modalwrap {
    z-index: 99999999;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 500px; */
}

.modal {
    margin: 0 auto;
    width: 600px;
    /* height: 814px; */
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
}

.tit {
    background: #1B3A6B;
    display: flex;
    align-items: center;
    height: 56px;
    color: white;
    padding: 0 20px;
    justify-content: space-between;
}


.titlft {
    font-size: 16;
    font-weight: bold;
    display: flex;
    gap: 10;
}

.titret {
    width: 32px;
    height: 32px;
    background: #2D5F9E;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.modalin {
    width: 100%;
    height: 100%;
    padding: 16px;
    display: flex;
    flex-flow: column;
    gap: 14;
}


.lblbox {
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
}

.lblbox h1 {
    position: relative;
    padding: 0 12px;
    font-size: 14px;
    color: #1B3A6B;
    font-weight: bold;
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #E5E7EB;
}

.lblbox h1::after {
    position: absolute;
    content: "";
    width: 3;
    height: 16px;
    background: #1B3A6B;
    left: 0;
    border-radius: 10px;
}

.lbl {
    width: calc(50% - 6px);
    display: flex;
    flex-flow: column;
    gap: 4;
}

.lbl p {
    font-size: 13px;
    width: 100%;
    color: #374151;
    font-weight: bold;
}

.lbl p span {
    color: red;
}

.lbl input,
.lbl select,
.lbl ul {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    border: 1px solid #D1D5DB;
    border-radius: 10px;
    font-size: 13px;
    cursor: pointer;
}


.noinput {
    background: #F9FAFB;
    cursor: default !important;
}

.lbl ul {
    cursor: default !important;
    display: flex;
    justify-content: space-around;
}

.lbl ul li label {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6;
    color: #6B7280;
}

.lbl ul li input {
    width: 16px;
}

.checked {
    color: black !important;
    font-weight: bold;
}

.jsin {
    width: 100%;
    display: flex;
    gap: 8;
}

.jsin label {
    width: 160px;
}



.lblnott {
    color: white !important;
}

.jsin button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94px;
    height: 36px;
    background: #1B3A6B;
    color: white;
    font-size: 13px;
    gap: 5;
    border-radius: 7px;

}


.js label:nth-child(3) {
    width: 100%;
}

.js label:nth-child(4) {
    width: 100%;
}






.bsilcl label:nth-child(1) {
    width: 174px;
}

.bsilcl label:nth-child(2) {
    width: 140px;
}

.bsilcl label:nth-child(3) {
    width: 194px;
}







.btlft {
    background: #000000;
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0 20px;
    justify-content: space-between;
    border-top: 1px solid #E5E7EB
}


.btlft p {
    font-size: 12px;
    color: #9CA3AF;
}

.btlft p span {
    margin-right: 5px;
    color: red;
}

.btret {
    display: flex;
    flex-flow: row wrap;
    gap: 8;
}

.btret button {
    cursor: pointer;
    font-size: 14px;
    display: flex;
    flex-flow: row wrap;
    height: 36px;
    padding: 0 20px;
    justify-self: center;
    align-items: center;
    gap: 6;
    font-weight: bold;
    border-radius: 10px;
}

.btret button:first-child {
    background: #FFFFFF;
    border: 1px solid #D1D5DB
}

.btret button:last-child {
    color: white;
    background: #1B3A6B;
}

.sgdlbtn {
    z-index: 10;
    right: 20px;
    top: 117px;
    width: 96px;
    height: 34px;
    position: absolute;
    cursor: pointer;
}

















.pdfbtn {
    z-index: 10;
    right: 122px;
    top: 117px;
    width: 130px;
    height: 34px;
    position: absolute;
    cursor: pointer;
}


.pdfpop {
    z-index: 10;
    padding-top: 28px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.pdfic {
    width: 48px;
    height: 48px;
    background: #EFF6FF;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.pdfpop h1 {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
}

.pdfpop p {
    text-align: center;
    color: #6B7280;
    font-size: 14px;
    margin-bottom: 25px;
}

.pdfbtns {
    width: 100%;
    height: 76px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.pdfbtns button {
    width: 180px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
}

.pdfbtns button:nth-child(1) {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.pdfbtns button:nth-child(2) {
    background: #2563EB;
    color: white;
}