.inwrap {
    display: flex;
    flex-flow: row;
}


.main {
    background: #F1F5F9;
    padding: 20px;
    margin-top: 56px;
    height: calc(100vh -56px);
    width: calc(100% - 210px);
}


.findebox {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.findebox li {
    width: 230px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    border: 1px solid black;
    border-radius: 7px;
}

.findebox li p {
    font-size: 12px;
}

.findebox li h1 {
    font-size: 17px;
    font-weight: bold;
}

.findebox li span {
    font-size: 11px;
}


.findebox li:nth-child(1) {
    background: #1B3A6B;
    border-color: #1B3A6B;
}

.findebox li:nth-child(1) p {
    color: #93C5FD;
}

.findebox li:nth-child(1) h1 {
    color: white;
}

.findebox li:nth-child(1) span {
    color: #60A5FA;
}

.findebox li:nth-child(2) {
    background: white;
    border-color: #E5E7EB;
}

.findebox li:nth-child(2) p {
    color: #9CA3AF;
}

.findebox li:nth-child(2) h1 {
    color: #374151;
}

.findebox li:nth-child(2) span {
    color: #CA8A04;
    font-weight: bold;
    width: 83px;
    height: 20px;
    background: #FEF9C3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.findebox li:nth-child(4) {
    background: #EFF6FF;
    border-color: #BFDBFE;
}

.findebox li:nth-child(4) p {
    color: #3B82F6;
}

.findebox li:nth-child(4) h1 {
    color: #1E40AF;
}

.findebox li:nth-child(4) span {
    color: #3B82F6;
}


.findebox li:nth-child(5) {
    background: #FFFBEB;
    border-color: #FDE68A;
}

.findebox li:nth-child(5) p {
    color: #D97706;
}

.findebox li:nth-child(5) h1 {
    color: #92400E;
}

.findebox li:nth-child(5) span {
    color: #D97706;
}

.findebox li:nth-child(3) {
    background: #F0FDF4;
    border-color: #BBF7D0;
}

.findebox li:nth-child(3) p {
    color: #16A34A;
}

.findebox li:nth-child(3) h1 {
    color: #15803D;
}

.findebox li:nth-child(3) span {
    color: #16A34A;
}


/* .findebox li:nth-child(5){
    background: #FFF1F2;
    border-color: #FECACA;
    }
    .findebox li:nth-child(5) p{
    color: #E11D48;
    }
    .findebox li:nth-child(5) h1{
    color: #BE123C;
    } 
*/













/* 테이블 위쪽타이들 부분 */
.fromtit {
    width: 100%;
    background-color: #F8FAFC;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


.fromtit h1,
.fromtit h2 {
    gap: 5px;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
}

.fromtit h1 {
    color: #1B3A6B;
    font-weight: bold;
    font-size: 13px;
}

.fromtit h1 span {
    font-weight: normal;
    color: #9CA3AF;
}

.fromtit h1 p {
    padding: 0 5px;
    color: #EF4444;
}

.fromtit h2 {
    color: #2563EB;
    font-weight: bold;
    margin: 0 6px;
}

.fromtitin {
    gap: 6;
    font-size: 11px;
    display: flex;
    flex-flow: row wrap;
}

.fromtitin h3 {
    display: flex;
    gap: 2;
}

.fromtitin h3:nth-child(2) span {
    color: #DBEAFE;
}

.fromtitin h3:nth-child(3) span {
    color: #BBF7D0;
}

.fromtitin h3:nth-child(4) span {
    color: #D1FAE5;
}





.mainin {
    width: 100%;
    display: flex;
    gap: 12;
    margin-top: 16px;
}

.lftbox {
    background-color: white;
    width: 340px;
}


.lftboxtb li {
    width: 100%;
    border-bottom: 1px solid #E5E7EB;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 52px;
}

.lftboxtbintp,
.lftboxtbinbt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10;
}

.lftboxic {
    width: 32px;
    height: 32px;
    background: #F1F5F9;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6B7280;
}

.lftboxtt h1 {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 6;
    font-size: 13px;
    font-weight: bold;
}

.lftboxtt span.lftttsp {
    padding: 0 8px;
    font-size: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.lftttsp.hs {
    background: #DCFCE7;
    color: #16A34A;
}

.lftboxtt h2 {
    font-size: 11px;
    color: #9CA3AF;
}



.lftboxtbinbt span.lftsp {
    padding: 0 8px;
    font-size: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.lftboxtbinbt span.lftsp.gs {
    background: #FEF9C3;
    color: #CA8A04;
}

.lftboxtbinbt span.lftsp.bgs {
    background: #DCFCE7;
    color: #16A34A;
}

.lftinbtic {
    color: #9CA3AF;
}

.lftboxtb .cled {
    background: #EFF6FF;
}

.lftboxtb .cled .lftboxic {
    color: #2563EB;
    background: #DBEAFE;

}

.lftboxtb .cled h2 {
    color: #6B7280;
}

.lftboxtb .cled .lftinbtic {
    color: #2563EB;
}




.lftboxtb .bhs {
    opacity: 0.5;
    background: #F8FAFC;
}

.lftboxtb .bhs .lftttsp {
    background: #F1F5F9 !important;
    border: 1px solid #E5E7EB !important;
    color: #9CA3AF !important;

}

.lftboxtb .bhs .lftsp {
    background: #F1F5F9 !important;
    border: 1px solid #E5E7EB !important;
    color: #9CA3AF !important;

}







.retbox {
    display: flex;
    flex-flow: column;
    background-color: white;
    width: 838px;
}

.rettit {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 46px;
    background: #EFF6FF;
    border-bottom: 1px solid #BFDBFE;
}

.rettitret {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10;
    color: #2563EB;
}

.lftboxic {
    color: #2563EB;
    width: 32px;
    height: 32px;
    border-radius: 7px;
    background: #DBEAFE;
}

.rettitret h1 {
    font-size: 14px;
    font-weight: bold;
}

.rettitret h1 p {
    font-size: 10px;
    color: #93C5FD;
    font-weight: normal;
}


.rettitlft {
    display: flex;
    gap: 8;
}

.rettitlft p {
    height: 23px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5;
    padding: 0 12px;
    background: #DCFCE7;
    color: #16A34A;
    font-weight: bold;
    border-radius: 10px;
}

.rettitlft p span {
    font-size: 10px;
}






.tgbtnbox {
    display: flex;
    gap: 6;
    font-size: 12px;
    font-weight: normal;
    color: #374151;
}

.tgbtn {
    cursor: pointer;
    border-radius: 50px;
    width: 34px;
    height: 18px;
    background: #1B3A6B;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 4;
}

.tgs {
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
}

.tgbtn.no {
    cursor: pointer;
    border-radius: 50px;
    width: 34px;
    height: 18px;
    background: #D1D5DB;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 4;
}


.retboxtb {
    width: 100%;
    padding: 18px 20px;
}

.retboxtbtp {
    display: flex;
    flex-flow: column;
    gap: 10;
}


.retboxtbtit {
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 8;
    color: #1B3A6B;
}

.retboxtbtit p {
    border-radius: 20px;
    display: block;
    height: 13px;
    width: 3px;
    background: #1B3A6B;
}


.retboxtbin {
    width: 100%;
    display: flex;
    gap: 12;
}

.retboxtbin label {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 5;
}

.retboxtbin p {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: left;
    align-content: center;
}

.retboxtbin input,
.retboxtbin select {
    font-size: 13px;
    border-radius: 10px;
    padding: 0 12px;
    height: 34px;
    border: 1px solid #D1D5DB;
}

.inputic {
    width: 100%;
    position: relative;
}

.inputic input {
    background: #F9FAFB;
}

.inputic .ic {
    position: absolute;
    top: 60%;
    right: 12px;
    color: #9CA3AF;
}





.str {
    color: red;
    margin-left: 5px;
}


.gsbs {
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    border: 1px solid #D1D5DB;
}

.gsbs li {
    gap: 5;
    font-size: 12px;
    color: #6B7280;
    height: 34px;
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.gsbs li:nth-child(2) {
    border-left: 1px solid #D1D5DB;
    border-right: 1px solid #D1D5DB;
}

.gsbs li.cled {
    background: #1B3A6B;
    color: white;
    font-weight: bold;
}

.sgddg {
    display: flex;
    flex-flow: row wrap !important;
    align-items: center;
    justify-content: space-between;
}

.sgddg input {
    width: 320px !important;
    font-weight: bold;
}

.sgddg span {
    width: 60px;
    font-size: 12px;
    color: #6B7280;
}











.gsbs2 {
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    border: 1px solid #D1D5DB;
}

.gsbs2 li {
    gap: 5;
    font-size: 12px;
    color: #6B7280;
    height: 34px;
    width: calc(100% / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}


.gsbs2 li.cled {
    background: #1B3A6B;
    color: white;
    font-weight: bold;
}




.goic {
    top: 50% !important;
}






.libr {
    margin: 0 auto;
    width: 100%;
    height: 1px;
    background: #F1F5F9;
    margin: 16px 0;
}













.jojgbo {
    display: flex;
    gap: 6;
}

.jojgbo li {
    width: 65px;
    height: 27px;
    background: #EFF6FF;
    border-radius: 10px;
    border: 1px solid #BFDBFE;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #1D4ED8;
    font-weight: bold;
    gap: 5;
}

.jojgbo li span {
    font-size: 10px;
}

.jojgbo .none {
    color: #9CA3AF;
}

.retboxtbtp .retboxtbin input,
.retboxtbtp .retboxtbin select {
    width: 100%;
}

.retboxtbtp .retboxtbin>span {
    font-size: 12px;
    width: 90px;
    line-height: 80px;
    color: #6B7280;
}




.inf {
    height: 31px;
    background: #FFF9EC;
    display: flex;
    align-items: center;
    padding: 0 12px;
    color: #D97706;
    border: 1px solid #FDE68A;
    border-radius: 10px;
    font-weight: bold;
    font-size: 12px;
    gap: 8;
}

.retboxtbbtns {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 8;
}

.retboxtbbtns button {
    cursor: pointer;
    padding: 0 16px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 5;
    font-size: 13px;
    font-weight: bold;
}

.trbtn {
    background: #FFF1F2;
    border: 1px solid #FECACA;
    color: #E11D48;
}

.xxbtn {
    border: 1px solid #FECACA;
}

.svbtn {
    background: #1B3A6B;
    border: 1px solid #FECACA;
    color: white;
}












.retbtbt {
    margin-top: 12px;
}

.ttse {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #D1D5DB;
    border-radius: 10px;
    width: 85px;
    height: 30px;
}

.ttbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D1D5DB;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    background: #1B3A6B;
    color: white;
    font-weight: bold;
    gap: 4;
    font-size: 11px;
}




.tbs {
    width: 100%;
    display: flex;
    flex-flow: column;
}

.tbs ul {
    width: 100%;
    display: flex;
    flex-flow: row;
}

.tbs ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 40px;
    font-size: 12px;
    border-bottom: 1px solid #E5E7EB;
}

.tbs ul:first-child li {
    justify-content: center !important;
    height: 38px;
    font-weight: bold;
    color: #6B7280;
    font-size: 11px;
    background: #F1F5F9;
}

.tbs ul li:nth-child(1) {
    font-weight: bold;
}

.tbs ul li:nth-child(4) {
    font-weight: bold;
}

.tbs ul:nth-child(2) li:nth-child(4),
.tbs ul:nth-child(4) li:nth-child(4) {
    color: #7C3AED;
}

.tbs ul:nth-child(3) li:nth-child(4) {
    color: #E11D48;
}




.tbs ul li:nth-child(6) {
    padding-right: 10px;
    justify-content: right;
    flex: 3.5;
    color: #1D4ED8;
    font-weight: bold;
}


.tbsp {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
    height: 16px;
    padding: 2px 10px;
}

.gs {
    background: #FEF9C3;
    color: #CA8A04;
}



.hj {
    background: #DCFCE7;
    color: #16A34A;
}

.dg {
    background: #FEF9C3;
    color: #CA8A04;
}






.tbs ul li:nth-child(9) {
    flex: 1.5;
    display: flex;
    gap: 4;
}

.tbspgl {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    border-radius: 5px;
    padding: 3px 8px;
}

.sj {
    background: #EFF6FF;
    color: #2563EB;
}

.del {
    background: #FFF1F2;
    color: #E11D48;
}










.tbhg li {
    background: #DBEAFE;
}

.tbhg li:nth-child(4) {
    border: 1px solid #BFDBFE;
    border-bottom: #E5E7EB;
    border-top: #E5E7EB;
    color: #7C3AED;
}

.tbhg li:nth-child(6) {
    border: 1px solid #BFDBFE;
    border-bottom: #E5E7EB;
    border-top: #E5E7EB;
    color: #7C3AED;
    font-size: 14px;
}

.tbhg p {
    color: #9CA3AF;
}





























/* 모달창 */



.wrap {
    position: relative;
}





.modalwrap {
    z-index: 99999999;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 500px; */
}

.modal {
    margin: 0 auto;
    width: 650px;
    /* height: 814px; */
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
}

.tit {
    background: #1B3A6B;
    display: flex;
    align-items: center;
    height: 56px;
    color: white;
    padding: 0 20px;
    justify-content: space-between;
}


.titlft {
    font-weight: bold;
    align-items: center;
    display: flex;
    gap: 10;
}

.titlft p {
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-flow: column;
}

.titlft p span {
    font-size: 10px;
    color: #60A5FA;
}

.titret {
    color: white;
    width: 32px;
    height: 32px;
    background: #2D5F9E;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.titret:hover {
    color: white;
    width: 32px;
    height: 32px;
    background: #55769d;

}

.btret span {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2D5F9E;
    font-size: 11px;
    padding: 0 10px;
    color: #93C5FD;
    font-weight: bold;
    height: 20px;
    border-radius: 20px;

}



.ttit {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    font-size: 13px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #1B3A6B;
}

.ttit::after {
    background-color: #1B3A6B;
    content: "";
    position: absolute;
    height: 13px;
    width: 3px;
    border-radius: 10px;
    left: 0;
}







.incs {
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 10px;
    background: #2D5F9E;
}



.mdin {
    padding: 20px 24px;
    display: flex;
}




.mdintp {
    justify-content: center;
    align-items: center;
    gap: 10;
}

.mdintp p {
    width: 40px;
    height: 2px;
    background: #E5E7EB;

}

.mdintp h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #1B3A6B;
    font-weight: bold;
    gap: 5;
}

.mdintp span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    border-radius: 50px;
}

.mdintp h1 span {
    background: #1B3A6B;
    color: white;
    font-weight: bold;
}

.mdintp h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #9CA3AF;
    font-weight: bold;
    gap: 5;
}

.mdintp h2 span {
    background: #E5E7EB;
    color: #9CA3AF;
    font-weight: bold;
}


.mdinmid {
    flex-flow: column;
}

.lbbox {
    display: grid;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    gap: 10px;
}

.lbbox label {
    display: flex;
    flex-flow: column;
    gap: 5;
}

.lbbox label p {
    display: flex;
    flex-flow: row;
    gap: 2;
    font-weight: bold;
    color: #374151;
}

.lbbox label p span {
    color: red;
}

.lbbox label input {
    height: 36px;
    font-size: 13px;
    font-weight: bold;
    padding: 0 12px;
    border-radius: 7px;
    border: 1px solid #D1D5DB;
}

.inputicwt input {
    background: white !important;
}

.jggo {
    width: 100%;
    display: flex;
}

.jggo input {
    width: calc(100% - 40px);
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.jggo b {
    border: 1px solid #D1D5DB;
    border-left: none;
    border-radius: 7px;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 36px;
    background: #F1F5F9;
    color: #374151;
    font-size: 13px;
}

.lbbox label ul {
    display: flex;
    border: 1px solid #D1D5DB;
    border-radius: 7px;
    overflow: hidden;
}

.lbbox label ul li {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10;
    font-size: 13px;
    height: 36px;
    color: #6B7280;
    font-weight: bold;
}

.lbbox label ul li.cled {
    color: white;
    background-color: #1B3A6B;
}

.lbbox label ul li:first-child {
    border-right: 1px solid #D1D5DB;
}

.lbbox label h1 {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 3;
    font-size: 11px;
    color: #9CA3AF;
}

.lbbox label h2 {
    margin-top: 5px;
    background: #FFF9EC;
    width: 229px;
    display: flex;
    align-items: center;
    gap: 3;
    font-size: 11px;
    color: #D97706;
    padding: 2px 10px;
    border-radius: 7px;
}

.lbbox label h2 span {
    font-size: 9px;
}

.gjsu {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 6;
}

.gjsu textarea {
    border: 1px solid #D1D5DB;
    padding: 10px 12px;
    height: 64px;
    font-size: 13px;
    border-radius: 7px;
}

.lin {
    border-bottom: 1px solid #D1D5DB;
}





.mdinjgds {
    flex-flow: column;
    gap: 10px;
}

.mdinjgds .ttbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mdinjgds .ttbox .ttit {
    margin-bottom: 0;
}

.mdinjgds .ttbox h1 {
    width: auto;
}

.mdinjgds .ttbox ul {
    display: flex;
    flex-flow: row wrap;
    gap: 10;
}

.mdinjgds .ttbox ul li {
    padding: 2px 12px;
    display: flex;
    align-items: center;
    gap: 5;
    font-size: 11px;
    font-weight: bold;
}

.mdinjgds .ttbox ul li:first-child {
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 5;
    color: white;
    background-color: #1B3A6B;
}

.mdinjgds .ttbox ul li:last-child {
    border-radius: 7px;
    display: flex;
    align-items: center;
    gap: 5;
    border: 1px solid #D1D5DB;
}

.fidbox {
    display: flex;
    gap: 10px;
}

.fidbox select,
.fidbox input {
    display: flex;
    height: 32px;
    border-radius: 7px;
    padding: 0 10px;
    border: 1px solid #D1D5DB;
    font-size: 12px;
}

.fidbox .fidboxinfputbox {
    color: #9CA3AF;
    flex: 7;
    position: relative;
}

.fidbox .fidboxinfputbox .icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.fidbox .fidboxinfputbox input {
    width: 100%;
    padding: 0 25px;
}

.fidbox select {
    flex: 2;
}



.mdinjgds ul {
    display: flex;
    flex-flow: column;
}

.mdinjgds ul ul {
    display: flex;
    flex-flow: row wrap;
}

.mdinjgds ul ul li {
    padding: 0 14px;
    height: 40px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1.5;
    border-bottom: 1px solid #D1D5DB;
}

.mdinjgds ul ul:first-child li {
    font-size: 12px;
    background-color: #F1F5F9 !important;
    font-weight: bold !important;
    color: #6B7280 !important;
}

.mdinjgds ul ul li:nth-child(1) {
    flex: 0.3;
    padding-right: 0;
}

.mdinjgds ul ul li:nth-child(2) {
    gap: 5;
    font-weight: bold;
    padding-left: 5px;
    flex: 1.2;
    justify-content: left;
}

.mdinjgds ul ul li:nth-child(3) {
    color: #9CA3AF;
}

.mdinjgds ul ul li:nth-child(4) {
    color: #9CA3AF;
}

.mdinjgds ul ul.ckd li:nth-child(3) {
    color: black;
}

.mdinjgds ul ul.ckd li:nth-child(4) {
    color: black;
}

.mdinjgds ul ul li:nth-child(6) {
    flex: 2.3;
    justify-content: right;
}

.mdinjgds ul ul li:nth-child(6) p {
    color: #D1D5DB;
}

.mdinjgds ul ul.ckd li:nth-child(6) p {
    display: none;
}

.mdinjgds ul ul li:nth-child(6) input {
    display: none;
}

.mdinjgds ul ul.ckd li {
    background-color: #EFF6FF;
}

.mdinjgds ul ul.ckd li:nth-child(6) input {
    display: flex;
    width: 100%;
    border: 1px solid #267dff;
    border-radius: 7px;
    height: 28px;
    font-size: 12px;
    text-align: right;
    padding: 0 10px;
    font-weight: bold;
    color: #1D4ED8;
}

.mdinjgds ul ul li .fn {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1F5F9;
    font-size: 9px;
    border-radius: 50%;
}

.mdinjgds ul ul.ckd li .fn {
    background: #DBEAFE;
    color: #1D4ED8;
}

.mdinjgds ul ul li .sp {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 11px;
    border-radius: 10px;
    background: #F1F5F9;
    border: 1px solid #E5E7EB;
    color: #9CA3AF;
}

.mdinjgds ul ul.ckd li .sp {
    background: #DBEAFE;
    color: #1D4ED8;
}

.mdinjgds ul ul.ckd li .sp.so {
    border: 1px solid #BBF7D0;
    background: #F0FDF4;
    color: #16A34A;
}

.mdinjgds ul ul.ckd li input.so {
    border: 1px solid #FDE68A !important;
    background: #F0FDF4;
    color: #16A34A;
}

.mdinjgds ul ul:last-child li {
    background: #F8FAFC;
    border-bottom: none;
}

.mdinjgds ul ul:last-child li:first-child {
    flex: 4.5;
    color: #6B7280;
    font-size: 12px;
}

.mdinjgds ul ul:last-child li:last-child {
    flex: 6.5;
    gap: 5;
    color: #6B7280;
    font-size: 12px;
}

.mdinjgds ul ul:last-child li:last-child h1 {
    color: black;
}

.mdinjgds ul ul:last-child li:last-child .sp {
    color: #1E40AF;
    font-size: 13px;
    font-weight: bold;
    background: #DBEAFE;

}
















.cmbpil {
    gap: 18;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-self: center;
}

.cmbpil .ttit {
    margin: 0;
    gap: 5;
}

.cmbpil .ttit p {
    color: #9CA3AF;
    font-size: 12px;
}

.cmbpilin {
    width: 100%;
    height: 80px;
    background: #F9FAFB;
    border: 1px solid #D1D5DB;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
}

.cmbpiltt {
    width: 308px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.cmbpiltt h1 {
    font-weight: bold;
    font-size: 13px;
    color: #6B7280;
}

.cmbpiltt h2 {
    font-size: 11px;
    color: #9CA3AF;
}

.cmbpil button {
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 111px;
    font-weight: bold;
    font-size: 13px;
    height: 28px;
    gap: 5;
    padding: 1px 16px;
    box-sizing: border-box;
    border-radius: 6px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
}




.cmbpilfl {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 8px 12px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #E5E7EB;
}

.cmbpilfllft {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10;
}

.cmbpilfllft .icon {
    width: 30px;
    height: 30px;
    background: #EFF6FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}

.cmbpilfllft h1 {
    font-size: 13px;
    font-weight: bold;
}

.cmbpilfllft h2 {
    font-size: 11px;
    color: #9CA3AF;
    display: flex;
    align-items: center;
    gap: 5;
}

.cmbpilflret {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 5;
    font-size: 12px;
}

.cmbpilflret span {
    cursor: pointer;
    font-size: 15px;
}



.popin {
    width: calc(100% - 25px);
}


.infobox {
    display: flex;
    align-items: center;
    gap: 10;
    font-size: 13px;
    font-weight: bold;
    padding: 12px 20px;
    background: #FFFBEB;
    border-top: 1px solid #E5E7EB;
    border-bottom: 1px solid #FDE68A;
    color: #B45309;
}

.infobox h1 {
    color: black;
}

.infobox h1 p {
    color: #B45309;
    font-size: 12px;
    font-weight: normal;
}
































.btlft {
    background: #F8FAFC;
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0 20px;
    justify-content: space-between;
    border-top: 1px solid #E5E7EB
}


.btlft h1 {
    display: flex;
    gap: 10;
    font-size: 11px;
}

.btlft h1 b {
    display: flex;
    align-items: center;
    gap: 5;
    color: #2563EB;
}

.btlft h1 p {
    color: #9CA3AF;
}


.btret {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    gap: 8;
}

.btret button {
    cursor: pointer;
    font-size: 14px;
    display: flex;
    flex-flow: row wrap;
    height: 36px;
    padding: 0 20px;
    justify-self: center;
    align-items: center;
    gap: 6;
    font-weight: bold;
    border-radius: 10px;
}

.btret button.imibtn,
.btret button.dgbtn {
    background: #FFFFFF;
    border: 1px solid #D1D5DB
}

.btret button.jjbtn {
    color: white;
    background: #1B3A6B;
}

.sgdlbtn {
    right: 20px;
    top: 117px;
    width: 96px;
    height: 34px;
    position: absolute;
    cursor: pointer;
}

















.pdfbtn {
    right: 122px;
    top: 117px;
    width: 130px;
    height: 34px;
    position: absolute;
    cursor: pointer;
}


.pdfpop {
    z-index: 10;
    padding-top: 28px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.pdfic {
    width: 48px;
    height: 48px;
    background: #EFF6FF;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.pdfpop h1 {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
}

.pdfpop p {
    text-align: center;
    color: #6B7280;
    font-size: 14px;
    margin-bottom: 25px;
}

.pdfbtns {
    width: 100%;
    height: 76px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.pdfbtns button {
    width: 180px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
}

.pdfbtns button:nth-child(1) {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.pdfbtns button:nth-child(2) {
    background: #2563EB;
    color: white;
}