.inwrap {
    display: flex;
    flex-flow: row;
}


.main {
    background: #F1F5F9;
    padding: 20px;
    margin-top: 56px;
    height: calc(100vh -56px);
    width: calc(100% - 210px);
}


.findebox {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.findebox li {
    width: 190px;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 5;
    border: 1px solid black;
    border-radius: 7px;
}

.findebox li p {
    display: flex;
    gap: 6;
    font-size: 12px;
}

.findebox li h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6;
    font-size: 17px;
    font-weight: bold;
}

.findebox li span {
    font-size: 11px;
    padding: 0px 10px;
    border-radius: 10px;
    /* border: 1px solid black; */
    font-weight: bold;
}


.findebox h1 {
    font-size: 12px;
}

.findebox h1 span {
    font-weight: bold;
    border-radius: 10px;
    background: #FEF9C3;
    width: 75px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.findebox h1 p {
    color: #16A34A;
}




.findebox li:nth-child(1) {
    background: linear-gradient(225deg, #1B3A6B 14.64%, #2563EB 85.36%);
    border: none;
}

.findebox li:nth-child(1) p {
    color: #93C5FD;
}

.findebox li:nth-child(1) h1 {
    color: white;
}

.findebox li:nth-child(1) span {
    color: #1E40AF;
    background: #DBEAFE;
}

.findebox li:nth-child(2) {
    background: white;
    border-color: #E5E7EB;
}

.findebox li:nth-child(2) p {
    color: #9CA3AF;
}

.findebox li:nth-child(2) h1 {
    color: #374151;
}

.findebox li:nth-child(2) span {
    color: #DC2626;
    background: #FEE2E2;
}

.findebox li:nth-child(3) {
    background: #FFF1F2;
    border-color: #FECACA;
}

.findebox li:nth-child(3) p {
    color: #E11D48;
}

.findebox li:nth-child(3) h1 {
    color: #BE123C;
}

.findebox li:nth-child(3) span {
    color: #E11D48;
    background: #FFF1F2;
    border: 1px solid #FECACA
}

.findebox li:nth-child(4) {
    background: #FFFBEB;
    border-color: #FDE68A;
}

.findebox li:nth-child(4) p {
    color: #D97706;
}

.findebox li:nth-child(4) h1 {
    color: #92400E;
}

.findebox li:nth-child(4) span {
    color: #CA8A04;
    background: #FEF9C3;

}

.findebox li:nth-child(5) {
    background: #F0FDF4;
    border-color: #BBF7D0;
}

.findebox li:nth-child(5) p {
    color: #16A34A;
}

.findebox li:nth-child(5) h1 {
    color: #15803D;
}

.findebox li:nth-child(5) span {
    background: #b3ffcf;
    color: #16A34A;
}

.findebox li:nth-child(6) {
    background: #EFF6FF;
    border-color: #BFDBFE;
}

.findebox li:nth-child(6) p {
    color: #3B82F6;
}

.findebox li:nth-child(6) h1 {
    color: #1E40AF;
}

.findebox li:nth-child(6) span {
    color: #7C3AED;
    background: hsl(252, 100%, 95%);

}





.findeboxss {
    margin: 16px 0;
    padding: 20px 14px;
    width: 100%;
    height: 62px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #E5E7EB;
}





.findeboxlft {
    gap: 13;
    display: flex;
    align-items: center;
}







.lbl {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8;
}

.lbl p {
    font-weight: bold;
    font-size: 13px;
}

.lbl select {
    font-size: 13px;
    height: 34px;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    padding: 0 9px;
    width: 100px;
}

.lbl input[type="date"] {
    border-radius: 5px;
    height: 34px;
    border: 1px solid #D1D5DB;
    width: 115px;
    padding: 0 12px;
}

.findeboxlft .lbl ul {
    display: flex;
}

.findeboxlft .lbl ul {
    display: flex;
}

.findeboxlft .lbl ul li {
    height: 34px;
    font-size: 12px;
    padding: 0 12px;
    border: 1px solid #D1D5DB;
    border-right: none;
    display: flex;
    gap: 3;
    justify-content: center;
    align-items: center;
}

.findeboxlft .lbl ul li.atv {
    background: #1B3A6B;
    border-color: #1B3A6B;
    font-weight: bold;
    color: white;

}

.findeboxlft .lbl ul li span {
    font-size: 10px;
}

.findeboxlft .lbl ul li:nth-child(2) span {
    color: #16A34A;
}

.findeboxlft .lbl ul li:nth-child(3) span {
    color: #E11D48;
}

.findeboxlft .lbl ul li:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.findeboxlft .lbl ul li:last-child {
    border-right: 1px solid #D1D5DB;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}















.fdbtns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    height: 34px;
    background: #1B3A6B;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    gap: 3;
    cursor: pointer;
}

.jh:hover {
    background: #3567b7;
}


.lblic {
    position: relative;
}

.lblic input {
    padding-left: 25px;
    font-size: 13px;
    width: 108px;
    height: 34px;
    border: 1px solid #D1D5DB;
    border-radius: 10px;
}

.inlblic {
    left: 10px;
    position: absolute;
}

.cgh {
    background-color: white;
    border: 1px solid #D1D5DB;
    color: #6B7280;
}

.fdif {
    width: 80px;
    height: 34px;
    background-color: #1B3A6B;
    color: white;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    gap: 5;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    font-weight: bold;
    margin-left: 186px;
}


.fdrettt {
    margin-left: 245px;
    gap: 6;
    font-size: 11px;
    display: flex;
    flex-flow: row wrap;
}

.fdrettt h3 {
    display: flex;
    gap: 2;
}

.fdrettt h3:nth-child(1) span {
    color: #DBEAFE;
}

.fdrettt h3:nth-child(2) span {
    color: #BBF7D0;
}

.fdrettt h3:nth-child(3) span {
    color: #D1FAE5;
}










/* 테이블 위쪽타이들 부분 */
.fromtit {
    width: 100%;
    background-color: #F8FAFC;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


.fromtit h1,
.fromtit h2 {
    gap: 5px;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
}

.fromtit h1 {
    color: #1B3A6B;
    font-weight: bold;
    font-size: 13px;
}

.fromtit h1 span {
    font-weight: normal;
    color: #9CA3AF;
}

.fromtit h1 p {
    padding: 0 5px;
    color: #EF4444;
}

.fromtit>h2 {
    color: #2563EB;
    font-weight: bold;
    margin: 0 10px;
}


.fromtitin {
    display: flex;
    font-size: 11px;
    gap: 10;
}

.fromtitin h2 {
    color: #2563EB;
    padding: 0 10px;
    border-radius: 10px;
    background-color: #e0edff;
    display: flex;
    font-size: 11px;
}


.fromtitinbox {
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #E5E7EB;
    background: #F1F5F9;
    padding: 0 12px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5;
}


.fromtitinbox.prt {
    background: #EFF6FF;
    color: #2563EB;
}











/* 테이블 부분 */
.tbin {
    display: flex;
    flex-flow: column wrap;
}

.tbin ul {
    display: flex;
    flex-flow: row wrap;
    font-size: 12px;
    background-color: white;
}

.tbin ul li {
    height: 44px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #E5E7EB;
    border-bottom: 1px solid #E5E7EB;
}

.tbin ul li:first-child {
    border-left: 1px solid #E5E7EB;
}

.tbin ul li p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    color: #9CA3AF !important;
}

.tbin ul:first-child li {
    line-height: 15px;
    height: 38px;
    display: flex;
    flex-flow: column;
    justify-content: center !important;
    align-items: center;
    font-weight: bold;
    color: #6B7280;
    background: #F1F5F9;
    border-top: 1px solid #E5E7EB;
}


.tbin ul li:nth-child(1) {
    flex: 0.3;
}



.tbin ul li:nth-child(2).cdss span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3;
    font-size: 11px;
    padding: 2px 12px;
    border-radius: 10px;
    font-weight: bold;
}

.tbin ul li:nth-child(2).cdss span s {
    font-size: 8px;

}

.tbin ul li:nth-child(2).cdss.cd span {
    background-color: #c7ffdb;
    color: #16A34A;
}

.tbin ul li:nth-child(2).cdss.ss span {
    background: #FEE2E2;
    color: #E11D48;
}




.tbin ul li:nth-child(4) {
    font-weight: bold;
    gap: 5;
}

.tbin ul li:nth-child(4).alt span {
    color: #D97706;

}



.tbin ul li:nth-child(5).bsjg {
    display: flex;
    flex-flow: column;
}

.tbin ul li:nth-child(5).bsjg span {
    color: #9CA3AF;
    font-size: 10px;
}




.tbin ul:first-child li:nth-child(6) {
    background: #F0FDF4;
    color: #16A34A;

}

.tbin ul li:nth-child(6) {
    flex: 1.3;
}

.tbin ul li:nth-child(6).cdo {
    color: #9CA3AF;
    font-size: 11px;
}

.tbin ul li:nth-child(6).cdo.cd {
    font-weight: bold;
    font-size: 14;
    color: #16A34A;
    background: #F0FDF4;

}


.tbin ul:first-child li:nth-child(7) {
    background: #FFF8F8;
    color: #E11D48;

}

.tbin ul li:nth-child(7) {
    flex: 1.3;
}

.tbin ul li:nth-child(7).sso.day {
    font-weight: bold;
    font-size: 14;
    color: #E11D48;
    background: #FFF8F8;
}



.tbin ul li:nth-child(8) {
    flex: 2.7;
}

.tbin ul li:nth-child(8).bhjl {
    gap: 10;
}


.tbin ul li:nth-child(8).bhjl span {
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 8px;
    font-weight: bold;
}

.tbin ul li:nth-child(8).bhjl span:nth-child(1) {
    color: #1D4ED8;
    background: #DBEAFE;
}

.tbin ul li:nth-child(8).bhjl span:nth-child(2) {
    color: #0F766E;
    background: #CCFBF1;
}

.tbin ul li:nth-child(8).bhjl span:nth-child(3) {
    color: #CA8A04;
    background: #FEF9C3;
}

.tbin ul li:nth-child(8).bhjl span:nth-child(4) {
    color: #DC2626;
    background: #FEE2E2;
}

.tbin ul li:nth-child(9) {
    flex: 1.3;
}


.tbin ul li:nth-child(10) {
    flex: 1.3;
}

.tbin ul li:nth-child(10).sgob span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3;
    font-size: 11px;
    padding: 2px 12px;
    border-radius: 10px;
    font-weight: bold;
}

.tbin ul li:nth-child(10).sgob span s {
    font-size: 8px;

}

.tbin ul li:nth-child(10).sgob.msg span {
    background: #FFF1F2;
    border: 1px solid #FECACA;
    color: #E11D48;
}

.tbin ul li:nth-child(10).sgob.sgol span {
    background: #DCFCE7;
    color: #16A34A;
}




.tbin ul li:nth-child(11).sgo.day span {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5;
    background: #FEF9C3;
    color: #D97706;
    border-radius: 10px;
    font-weight: bold;
}





.tbin ul li:nth-child(12) {
    flex: 2;
}

.tbin ul li:nth-child(12).gl {
    gap: 5;
}

.tbin ul li:nth-child(12).gl span {
    padding: 2px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5;
    border-radius: 5px;
    font-weight: bold;
}

.tbin ul li:nth-child(12).gl span.sgs {
    cursor: pointer;
    background: #EFF6FF;
    color: #2563EB;
}

.tbin ul li:nth-child(12).gl span.sg {
    cursor: pointer;
    background: #F1F5F9;
    color: #6B7280;
}

.tbin ul li:nth-child(12).gl span.del {
    background: #FFF1F2;
    color: #E11D48;
}



.tbin .cled li {
    background: #FFFBEB;
}

.tbin .cled li.gl span.sgs {
    background: #1B3A6B !important;
    color: white !important;
    font-weight: bold;
}

























































/* 테이블 밑에 버튼 */

.textsbtns {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.textsbtns li {
    background: none !important;
    border: none !important;
    margin-right: 10px;
    display: flex;
    gap: 4px;
}

.textsbtns span {
    cursor: pointer;
    border-radius: 5px;
    padding: 2px 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}


.textsbtns span:hover {
    background: #1B3A6B;
    color: white;
    font-weight: bold;
}

.textsbtns span.textsces {
    background: #1B3A6B;
    color: white;
    font-weight: bold;
}

.textsbtns li:first-child {
    flex: 14 !important;
    color: #E11D48;
}

.textsbtns li:last-child {
    background-color: white !important;
    flex: 1;
}



.textsbtns h2 {
    font-size: 13px;
    color: #6B7280;
}

.br {
    width: 1px;
    height: 14px;
    margin: 0 12px;
}

.textsbtns li .ttrettt p {
    padding: 0 10px;
    font-weight: bold;
    border-radius: 10px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5;
    color: #E11D48 !important;
    font-size: 12px;
}










/* 모달창 */



.wrap {
    position: relative;
}





.modalwrap {
    z-index: 99999999;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 500px; */
}

.modal {
    margin: 0 auto;
    width: 650px;
    /* height: 814px; */
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
}

.tit {
    background: #1B3A6B;
    display: flex;
    align-items: center;
    height: 56px;
    color: white;
    padding: 0 20px;
    justify-content: space-between;
}


.titlft {
    font-weight: bold;
    align-items: center;
    display: flex;
    gap: 10;
}

.titlft p {
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-flow: column;
}

.titlft p span {
    font-size: 10px;
    color: #60A5FA;
}

.titret {
    color: white;
    width: 32px;
    height: 32px;
    background: #2D5F9E;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.titret:hover {
    color: white;
    width: 32px;
    height: 32px;
    background: #55769d;

}

.btret span {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2D5F9E;
    font-size: 11px;
    padding: 0 10px;
    color: #93C5FD;
    font-weight: bold;
    height: 20px;
    border-radius: 20px;

}



.ttit {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    font-size: 13px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #1B3A6B;
}

.ttit::after {
    background-color: #1B3A6B;
    content: "";
    position: absolute;
    height: 13px;
    width: 3px;
    border-radius: 10px;
    left: 0;
}


.mdtop {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10;
    width: 100%;
    padding: 16px;
    background: #F8FAFC;
}

.mdtoptop {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 10;
}

.mdtoptop b {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #DBEAFE;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1D4ED8;
    font-size: 15px;

}

.mdtoptop ul {
    display: flex;
    flex-flow: column;
    gap: 3;
}

.mdtoptop ul ul {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.mdtoptop ul ul:first-child {
    gap: 8;
}

.mdtoptop h1 {
    font-size: 15px;
    font-weight: bold;
    line-height: 0;
}

.mdtoptop span {
    padding: 2px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3;
    font-size: 11px;
    font-weight: bold;
    border-radius: 10px;
}

.mdtoptop ul ul li:nth-child(2) span {
    background: #DCFCE7;
    color: #16A34A;
    border: 1px solid #00db4c
}

.mdtoptop ul ul li:nth-child(3) span {
    background: #FFF1F2;
    color: #E11D48;
    border: 1px solid #FECACA
}

.mdtoptop ul ul:nth-child(2) {
    gap: 8;
    justify-content: center;
    align-items: center;
    color: #6B7280;
    font-size: 12px;

}

.mdtoptop ul ul:nth-child(2) li:nth-child(even) {
    color: #D1D5DB;
    font-size: 10px;
}






.mdtopbtom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mdtopbtombox {
    padding: 14px 6px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF9EC;
    border: 1px solid #FDE68A;
}

.mdtopbtombox ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mdtopbtombox ul li {
    padding: 0 8px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #D97706;
    font-size: 11px;
}

.mdtopbtombox ul li b {
    font-size: 18;
    line-height: 1;
}

.mdtopbtombox ul li:first-child {
    border-right: 1px solid #FDE68A;
}










.mdin {
    padding: 16px 20px;
    border-top: 1px solid #E5E7EB;
}


.mdin ul {
    display: flex;
    flex-flow: column;
    gap: 8;
}

.mdin ul ul {
    border: 1px solid #E5E7EB;
    background: #F8FAFC;
}

.mdin ul ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 8;
    padding: 12px 16px;
    border-radius: 10px;
}

.mdin ul ul li {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}


.mdin ul ul li:nth-child(1) {
    gap: 12;
}

.mdin ul ul li:nth-child(1) input {
    width: 18px;
    height: 18px;
    border-radius: 7px;
}

.mdin ul ul li:nth-child(1) .icon {
    width: 32px;
    height: 32px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1F5F9;
    color: #9CA3AF;
}

.mdin ul ul li:nth-child(1) h1 {
    font-weight: bold;
    font-size: 13px;
    color: #9CA3AF;
}

.mdin ul ul.ckd li:nth-child(1) h1 {
    color: black;
}

.mdin ul ul li:nth-child(1) h1 p {
    font-weight: normal;
    font-size: 11px;
    color: #6B7280;
}

.mdin ul ul li:nth-child(2) {
    color: #000000;
    font-weight: bold;
    gap: 5;
}

.mdin ul ul li:nth-child(2) span.pd {
    padding: 0px 10px;
    font-size: 12px;
    background: #F1F5F9;
    color: #9CA3AF;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
}






.mdin ul ul:nth-child(1).ckd {
    border: 1px solid #BFDBFE;
    background: #EFF6FF;
}

.mdin ul ul:nth-child(1).ckd li:nth-child(1) .icon,
.mdin ul ul:nth-child(1).ckd li:nth-child(2) span {
    background: #DBEAFE;
    color: #1D4ED8;
}

.mdin ul ul:nth-child(2).ckd {
    border: 1px solid #99F6E4;
    background: #F0FDFA;
}

.mdin ul ul:nth-child(2).ckd li:nth-child(1) .icon,
.mdin ul ul:nth-child(2).ckd li:nth-child(2) span {
    background: #CCFBF1;
    color: #0F766E;
}

.mdin ul ul:nth-child(3).ckd {
    border: 1px solid #FDE68A;
    background: #FFFBEB;
}

.mdin ul ul:nth-child(3).ckd li:nth-child(1) .icon,
.mdin ul ul:nth-child(3).ckd li:nth-child(2) span {
    background: #FEF9C3;
    color: #D97706;
}

.mdin ul ul:nth-child(4).ckd {
    border: 1px solid #fd8a8a;
    background: #ffefef;
}

.mdin ul ul:nth-child(4).ckd li:nth-child(1) .icon,
.mdin ul ul:nth-child(4).ckd li:nth-child(2) span {
    background: #fec3c3;
    color: #760f0f;
}










.lbbox {
    display: grid;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    gap: 10px;
}

.lbbox label {
    display: flex;
    flex-flow: column;
    gap: 5;
}

.lbbox label p {
    font-size: 12px;
    display: flex;
    flex-flow: row;
    gap: 2;
    font-weight: bold;
    color: #374151;
}

.lbbox label p span {
    color: red;
}

.lbbox label input,
.lbbox label select {
    height: 36px;
    font-size: 13px;
    font-weight: bold;
    padding: 0 12px;
    border-radius: 7px;
    border: 1px solid #D1D5DB;
}

.inputicwt input {
    background: white !important;
}


.inputic {
    width: 100%;
    position: relative;
}

.inputic input {
    background: #F9FAFB;
}

.inputic .ic {
    position: absolute;
    top: 60%;
    right: 12px;
    color: #9CA3AF;
}

.jggbjb h1 span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3;
    padding: 0 10px;
    border-radius: 10px;
    background: #DCFCE7;
    color: #16A34A;
    font-weight: bold;
}


.jggbjb>span {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10;
    padding: 8px 12px;
    border-radius: 10px;
    background: #EFF6FF;
    color: #1D4ED8;
    font-size: 11px;
    border: 1px solid #BFDBFE;
    margin-top: 12px;
}

.psjssj>span {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10;
    padding: 8px 12px;
    border-radius: 10px;
    background: #F8FAFC;
    color: #6B7280;
    font-size: 11px;
    border: 1px solid #E5E7EB;
    margin-top: 12px;
}





.sgggjb {
    display: flex;
    flex-flow: column;
}

.sgggjb ul {
    display: flex;
    gap: 8;
    flex-flow: row;
}

.sgggjb ul ul {
    width: calc(100% / 3);
    display: flex;
    flex-flow: column;
}


.sgggjb ul ul p {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 5;
    //안녕
    //안녕
    //안녕
    //안녕
}

//안녕
//안녕
//안녕
//안녕
//안녕




















































.btlft {
    background: #F8FAFC;
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0 20px;
    justify-content: space-between;
    border-top: 1px solid #E5E7EB
}


.btlft h1 {
    display: flex;
    gap: 10;
    font-size: 11px;
}

.btlft h1 b {
    display: flex;
    align-items: center;
    gap: 5;
    color: #2563EB;
}

.btlft h1 p {
    color: #9CA3AF;
}


.btret {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    gap: 8;
}

.btret button {
    cursor: pointer;
    font-size: 14px;
    display: flex;
    flex-flow: row wrap;
    height: 36px;
    padding: 0 20px;
    justify-self: center;
    align-items: center;
    gap: 6;
    font-weight: bold;
    border-radius: 10px;
}

.btret button.imibtn,
.btret button.dgbtn {
    background: #FFFFFF;
    border: 1px solid #D1D5DB
}

.btret button.jjbtn {
    color: white;
    background: #1B3A6B;
}

.sgdlbtn {
    right: 20px;
    top: 117px;
    width: 96px;
    height: 34px;
    position: absolute;
    cursor: pointer;
}