
.inwrap{
    display: flex;
    flex-flow: row;
}


.main{
    background: #F1F5F9;
    padding: 20px;
    margin-top: 56px;
    height: calc(100vh -56px);
    width: calc(100% - 210px);
}




    .textbox{
        width: 100%;
    }
/* 
    .texts ul{
        font-size: 13px;
        box-sizing: border-box;
        border-top: 1px solid #E5E7EB;
        width: 100%;
        height: 44px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around; 
        background-color: white;
    }
    .texts ul:last-child{
        border-top: none;
        border: 1px solid #E5E7EB;
    }
    .texts ul:first-child  {
        border-top: none;
        background:none ;
        color: #6B7280;
        font-weight: bold;
    }
    .texts ul:last-child{
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }


    .texts ul li{
        flex:1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    .texts ul li span.jjs{
        border-radius: 15px;
        padding: 5px 8px;
        background: #DCFCE7;
        color: #16A34A;
    }
    .texts ul li span.hjs{
        border-radius: 15px;
        padding: 5px 8px;
        background: #FEF3C7;
        color: #D97706;
    }
    .texts ul li span.sjs{
        border-radius: 5px;
        padding: 5px 8px;
        background: #EFF6FF;
        color: #2563EB;
    }
    .texts ul:first-child li:nth-child(8){
        justify-content: center;
        flex: 3;
    }
    .texts ul li:nth-child(8){
        justify-content: left;
        flex: 3;
    }


    .texts ul li:nth-child(3){
        font-weight: bold;
    }
    .textsbtns li{
        margin-right: 10px;
        display: flex;
        gap: 10px;
    }
    .textsbtns span{
        cursor: pointer;
        border-radius: 5px;
        padding: 2px  8px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }


    .textsbtns span:hover{
        background: #1B3A6B;
        color: white;
        font-weight: bold;
    }
    .textsbtns span.textsces{
        background: #1B3A6B;
        color: white;
        font-weight: bold;
    }
*/






.findebox{
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    padding: 15px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 5px;
}
.findebox h3{
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 5px;
    font-size: 13px;
}
.findebox p{
    height: 38px;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    background-color: #F1F5F9;
    border: 1px solid #D1D5DB;
}
.findebox h3 img{
    width: 14px;
    height: 14px;
}
.findeinput{
    font-size: 13px;
    width: 100%;
    display: flex;
    gap: 15px;
    flex-flow: row wrap;
}

.findeinput label{
    display: flex;
    align-items: center ;
    gap: 10px;
}
.findeinput label input,.findeinput label select  {
    border: 1px solid #D1D5DB;
    padding: 5px 10px;
    border-radius: 5px;
    width: 120px;
    height: 38px;        
}

.findebox button{
    height: 38px;
    border-radius: 5px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;       
    gap: 5px; 
    font-size: 13px;
    padding: 0 14px;
    cursor: pointer;
}
.cghbtn {
    background-color: white;
    border: 1px solid #D1D5DB;
}
.jhbtn{
    background-color: #1B3A6B;
    color: white;
}

.sone button{
    background-color: #1B3A6B;
}
.days span{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F9FAFB;
    width: 28px;
    height: 38px;
    border: 1px solid #D1D5DB;
    color: #9CA3AF;
}
.sone p {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.sone input[type="text"] {
    width: 200px;
    text-align: center;
    border-radius: 0px;
}
.sone button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.bls p{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.bls select{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.days p{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.days input[type="date"]{
    border-radius: 0;
}
.days input[type="date"]:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
} 


.inputform{
    width: 100%;
    display: flex;
    flex-flow: column;
}
.fromtit{
    padding: 10px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.fromtit h1, .fromtit h2 {
    gap: 10px;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
}
.fromtit h1 {
    font-weight: bold;
    font-size: 13px;
}
.fromtit h1 img{
    width: 15px;
    height: 15px;
}
.fromtit h2 {
    font-size: 12px;
    font-weight: bold;
    color: #2563EB;
}
.fromtit h2 img{
    width: 13px;
    height: 13px;
}
.formbox{
    border: 1px solid #E5E7EB;
    border-top: none;
    gap: 16px 0;
    display: flex;
    flex-flow: column;
    padding: 20px;
    background-color: #FFFFFF;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.formboxtp{
    display: flex;
    flex-flow: row wrap;
    font-size: 13px;
    gap: 20px;
}
.formboxtp p{
    font-weight: bold;
}
.formboxtp label{
    display: flex;
    flex-flow: column;
    gap: 6px 0;
}


.uhfm ul{
    display: flex;
}
.uhfm ul li{
    color: #6B7280;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    height: 36px;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D1D5DB;
    /* background: #1B3A6B; */
}
.uhfm ul li:first-child{
    color: white;
    border: 1px solid #1B3A6B;
    background: #1B3A6B;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.uhfm ul li:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.dayfm input{
    border-radius: 6;
    padding: 12px;
    border: 1px solid #D1D5DB;
    height: 36px;
    width: 180px;
}
.numfm input{
    border-radius: 6;
    padding: 12px;
    border: 1px solid #D1D5DB;
    height: 36px;
    width: 160px;
    background: #F9FAFB;
    color: #9CA3AF;
}
.sufm input{
    border-radius: 6;
    padding: 12px;
    border: 1px solid #D1D5DB;
    height: 36px;
    width: 260px;
}

.formboxmd{
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
}
.fmmdlt {
    border: 1px solid #FECACA;
    border-radius: 5px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    background: #FFF7F7;
    width: 543px;
    height: 124px;
    gap: 12px;
}
.fmmdlttit {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.fmmdlttit  span{
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 12px;
    background: #FEE2E2;
    border-radius: 50px;
}
.fmmdline{
    height: 1px;
    width: 435px;
}
.fmmdlt .fmmdline{
    height: 1px;
    width: 435px;
    background-color: #FECACA;
}
.fmmdrt .fmmdline{
    height: 1px;
    width: 435px;
    background-color: #BFDBFE;
}

.fmmdltinput{
    display: flex;
    gap: 12px;
}
.fmmdltinput input, .fmmdltinput select{
    font-size: 13px;
    padding: 12px;
    width: 162px;
    height: 36px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #FECACA;
}
.fmmdltinput label{
    position: relative;
}
.fmmdltinput label img{
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    right: calc(0% + 12px);
    transform: translateY(50%);
}
.fmmdltinput label p{
    font-size: 12px;
    color: #6B7280;
}

.formboxmd h3{
    height: 124px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}




.fmmdrt {
    border: 1px solid #BFDBFE;
    border-radius: 5px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    width: 543px;
    height: 124px;
    gap: 12px;
    background: #F0F7FF;
}