
.inwrap{
    display: flex;
    flex-flow: row;
}


.main{
    background: #F1F5F9;
    padding: 20px;
    margin-top: 56px;
    height: calc(100vh -56px);
    width: calc(100% - 210px);
}




.textbox{
    width: 100%;
}

.inputform{
    width: 100%;
    gap: 18px;
    display: flex;
    flex-flow: column;
}


.fromtit{
    width: 100%;
    background-color: #F8FAFC; 
    border-radius: 8px;
    padding: 10px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.bttb{
    gap: 5;
    display: flex;
}
.bttb select {
    font-weight: bold;
    width: 100px;
    font-size: 12px;
    background-color: white;
    border:  1px solid #D1D5DB;
    padding:5px 10px;
    border-radius: 15px;
}
.fromtit .bttb h2{
    width: 54px;
    display: flex;
}


.fromtit h1, .fromtit h2 {
    gap: 5px;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
}
.fromtit h1 { 
    color: #1B3A6B;
    font-weight: bold;
    font-size: 13px;
}
.fromtit h1 span{
    font-weight: normal;
    color: #9CA3AF;
}
.fromtit h1 p{
    padding: 0 5px;
    color: #EF4444;
}

.fromtit h2 {
    height: 23px;
    width: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #DBEAFE;
    font-size: 12px;
    font-weight: bold;
    color: #1D4ED8;
}




.formbox ul{
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
}
.formbox ul li.clts{
    padding: 20px 16px;
    display: flex;
    gap: 12;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    height: 170px;
    border: 1px solid  #2563EB;
    background: #EFF6FF;
}
.formbox ul li{
    cursor: pointer;
    padding: 20px 16px;
    display: flex;
    gap: 12;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: calc(100% / 4 - 8px);
    height: 170px;
    border: 1px solid  #F1F5F9;
    background: #FFFFFF;
}
.formbox ul li h1{
    font-size: 14px;
    font-weight: bold;

}
.formbox ul li h2{
    color: #6B7280;
    font-size: 12px;
}
.formbox ul li.clts h3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    background: #2563EB;
    padding: 5px 15px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 11px;
}
.formbox ul li h3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    background: #F1F5F9;
    padding: 5px 15px;
    border-radius: 20px;
    color: #9CA3AF;
    font-weight: bold;
    font-size: 11px;
}
li.clts .tbox{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #DBEAFE;
    border-radius: 10px;
}
.tbox{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #F1F5F9;
    border-radius: 10px;
}






















.formbox{
    border: 1px solid #E5E7EB;
    border-top: none;
    gap: 16px 0;
    display: flex;
    flex-flow: column;
    padding: 20px;
    background-color: #FFFFFF;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.formboxtp{
    display: flex;
    flex-flow: row wrap;
    font-size: 13px;
    gap: 12px;
}
.tptits{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    gap: 8px;
    font-weight: bold;
}
.tptits span{
    height: 14px;
    border-radius: 10px;
    display: block;
    width: 3px;
    background-color: #1B3A6B;
}






.formboxtp p{
    font-weight: bold;
}
.formboxtp label{
    display: flex;
    flex-flow: column;
    gap: 6px 0;
}


.uhfm ul{
    display: flex;
}
.uhfm ul li{
    color: #6B7280;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    height: 36px;
    padding: 18px;
    gap: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D1D5DB;
    border-left: none;
    /* background: #1B3A6B; */
}
.uhfm ul li:first-child{
    color: white;
    border: 1px solid #1B3A6B;
    background: #1B3A6B;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.uhfm ul li:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.uhfm p{
    border-radius: 6px;
    align-items: center;
    height: 40px;
    width: 328px;
    background: #EFF6FF;
    display: flex;
    font-style: 13px;
    flex-flow: row wrap;
    padding: 8px 14px;
    margin-top: 12px;
}
.uhfm p span{
    font-weight: bold;
    color: #1B3A6B;
    margin-left: 8px;
}


.formboxmd{
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
 }



label.jgfm input, .label.jgfm select,.formboxmd .jgfm select{
    font-size: 13px;
    padding: 0 12px;
    width: 162px;
    height: 36px;
    background-color: #F9FAFB;
    border-radius: 5px;
    border: 1px solid #FECACA;
}
label.jgfm{
    position: relative;
}
.formboxtp label:nth-child(1) input[type="text"]{
    width: 150px;
}
.formboxtp label:nth-child(2) input[type="text"]{
    width: 130px;
}
.formboxtp label:nth-child(3) input[type="text"]{
    width: 150px;
}
.formboxtp label:nth-child(4) input[type="text"]{
    width: 120px;
}
.formboxtp label:nth-child(5) input[type="date"]{
    width: 150px;
}
 
label.jgfm img{
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    right: calc(0% + 12px);
    transform: translateY(50%);
}


input[type="date"]{
    cursor: pointer;
}
select{
    cursor: pointer;
}


.formboxmd{
    display: flex;
    flex-flow: column;
}

.formboxmd .jgfm:nth-child(1) select{
    background-color: #FFFFFF;
    width: 200px;
}
.formboxmd .jgfm:nth-child(2) input[type="text"]{
    background-color: #FFFFFF;
    width: 240px;
}



.jgfmin{
    display: flex;
    flex-flow: row wrap;
}

.jgfmin p{
    width: 36px;
    height: 36px;
    background-color: #F9FAFB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.jgfmin p:hover{
    background-color: #d3d3d4;
}
.jgfmin span{
    width: 48px;
    height: 36px;
    border: 1px solid #D1D5DB;
    border-top: none;
    border-bottom: none;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}

.jgfmin div{
    width: 83px;
    height: 36px;
    display: flex;
    gap: 3;
    justify-content: center;
    align-items: center;
}
.jgfmin .gms{
    border: 1px solid #1B3A6B;
    border-top-left-radius: 7px; 
    border-bottom-left-radius: 7px; 
    border-right: none;
    background: #1B3A6B;
    color: white;
    font-weight: bold;
}

.jgfmin .yms{
    border: 1px solid #D1D5DB;
    border-top-right-radius: 7px; 
    border-bottom-right-radius: 7px; 
    background: #FFFFFF;
    color: #6B7280;
    font-weight: bold;
}

 



.formboxbt .jgfm:nth-child(1) input[type="date"]{
    background-color: #FFFFFF;
    width: 180px;
}
.formboxbt .jgfm:nth-child(2) input[type="text"]{
    background-color: #FFFFFF;
    width: 954px;
}







.textbox{
    margin-top: 16px;
}

.fmli{
    width: 100%;
    height: 2px;
    background: #F1F5F9;
}


.cmbpil{
    gap: 18;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-self: center;
}
.cmbpilin{
    width: 1150px;
    height: 80px;
    background: #F9FAFB;
    border: 1px solid #D1D5DB ;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
}
.cmbpiltt{
    width: 308px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    justify-self: center;
}
.cmbpiltt h1{
    font-weight: bold  ;
    font-size: 13px;
    color: #6B7280;    
}
.cmbpiltt h2{
    font-size: 11px;
    color: #9CA3AF;   
}
.cmbpil button{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 111px;
    font-weight: bold;
    font-size: 13px;
    height: 28px;
    gap: 5;
    padding: 1px 16px;
    box-sizing: border-box;
    border-radius: 6px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB; 
}



.formboxbt{
    width: 100%;
    display: flex;
     flex-flow: column;
}
.formboxbt h1{
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 6px;
}
.formboxbt textarea{
    width: 1150px;
    height: 82px;
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
}
.fmbtns{
    margin-top: 16px;
    display: flex;
    flex-flow: row;
    gap: 8px;
    justify-content: right;
}
.fmbtns button{
    font-weight: bold;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    gap: 3px;
    font-size: 13px;
    height: 36px;
    border: 1px solid #D1D5DB;
}
.fmbtns .css{
    width: 87px;
    color: black;
    background: #ffffff;
}
.fmbtns .jjs{
    color: white;
    background: #1B3A6B;
}
.fmbtns .ml{
    background: #F1F5F9;
}
.textbox{
    margin-top: 16px;
}

.cmbpilfl{
    background: #FFF9EC;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 8px 12px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #FDE68A;
}
.cmbpilfllft{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10;
}
.cmbpilfllft h1{
    color: #92400E;
    font-size: 13px;
    font-weight: bold;
}
.cmbpilfllft h2{
    font-size: 11px;
    color: #B45309;
}
.cmbpilflret{
    justify-content: center;
    border-radius: 7px;
    align-items: center;
    width: 90px;
    height: 32px;
    background-color: #FFFFFF;
    border: 1px solid #FDE68A;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 5;
    font-size: 12px;
    color: #D97706;
}
