
.inwrap{
    display: flex;
    flex-flow: row;
}


.main{
    background: #F1F5F9;
    padding: 20px;
    margin-top: 56px;
    height: calc(100vh -56px);
    width: calc(100% - 210px);
}



.findebox{
    padding: 20px 14px;
    width: 100%;
    height: 62px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #E5E7EB;
}





.findeboxlft{
    gap: 16;
    display: flex;
}


/* 달력에 방향버튼 */
.jgfmin{
    height: 34px;
    display: flex;
    flex-flow: row wrap;
}
.jgfmin p{
    width: 34px;
    background-color: #F9FAFB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #D1D5DB;
}
.jgfmin p:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.jgfmin p:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.jgfmin p:hover{
    background-color: #d3d3d4;
}
.jgfmin input{
    cursor: pointer;
    width: 187px;
    background-color: #FFFFFF;
    display: flex;
    border: 1px solid #D1D5DB;
    border-left: none;
    border-right: none;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}

.ifbox{
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    border-radius: 30px;
    background: #DBEAFE;
    color: #1D4ED8;
}


.findeboxbtns{
    display: flex;
    border-radius: 5px;
    width: 137px;
    height: 34px;
    justify-content: center;
    align-items: center;
    gap: 2;
    font-size: 13px;
    border: 1px solid #D1D5DB ;
}








.hgsjbox{
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.lftbox{
    width: 589px;
    gap: 0px;
    display: flex;
    flex-flow: column;
}


.fromtit{
    width: 100%;
    background-color: #F8FAFC; 
    border-radius: 7px;
    padding: 10px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


.fromtit h1, .fromtit h2 {
    gap: 5px;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
}
.fromtit h1 {
    color: #1B3A6B;
    font-weight: bold;
    font-size: 13px;
}

.fromtit h2 {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EFF6FF;
    border-radius: 5px;
    border: 1px solid #BFDBFE;
    width: 76px;
    font-size: 12px;
    font-weight: bold;
    color: #2563EB;
    cursor: pointer;
}
.fromtit h2:hover{
    background: #d8e9ff;
}




.lftboxtb{
    display: flex;
    flex-flow: column;
}
.lftboxtb ul{
    display: flex;
    flex-flow: row wrap;

}
.lftboxtb ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: white;
    height: 44px;
    font-size: 13px;
    border-top: 1px solid #E5E7EB;
}
.lftboxtb ul:first-child li{
    height: 38px;
    font-size: 12px;
    justify-content: center;
    color: #6B7280;
    font-weight: bold;
    background: #F1F5F9;
}
.lftboxtb ul li input{
    width: 64px;
    height: 34px;
    border: 1px solid #D1D5DB;
    text-align: center;
    border-radius: 10px;
}
.lftboxtb ul li input:focus{
    border-color:#2563EB;
    color: #2563EB;
    outline: none;
}

.lftboxtb ul li:nth-child(2) input{
    font-weight: bold;
}
.lftboxtb ul li:nth-child(1){
    font-weight: bold;
}



.lftboxtb ul:first-child li:nth-child(1){
    flex: 1.5;
    padding: 0 15px;
}
.lftboxtb ul li:nth-child(1){
    flex: 1.5;
    padding: 0 15px;
    justify-content: left;
}

.lftboxtb ul:first-child li:nth-child(5){
    flex: 2;
    color: #6B7280;
}
.lftboxtb ul li:nth-child(5){
    flex: 2;
    color: #9CA3AF;
    justify-content: left;
}


 






.tgbtnbox{
    display: flex;
    gap: 6;
    font-size: 12px;
    font-weight: normal;
    color: #374151;
}
.tgbtn{
    cursor: pointer;
    border-radius: 50px;
    width: 34px;
    height: 18px;
    background: #1B3A6B;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 4;
}
.tgs{
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
}


.tgbtn.no{
    cursor: pointer;
    border-radius: 50px;
    width: 34px;
    height: 18px;
    background: #D1D5DB;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 4;
}








.retbox{
    width: 589px;
    display: flex;
    flex-flow: column;
    gap: 12px;
}
.toplbbox{
    padding: 20px;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
} 
.toplbbox label{
    position: relative;
    width: calc(50% - 5px);
}
.toplbbox label p{
    margin-bottom: 6px;
    font-size: 13px;
    font-weight: bold;
}
.toplbbox label h1{
    position: absolute;
    color: #9CA3AF;
    top: 50%;
    right: 12px;
}
.toplbbox label input{
    font-weight: bold;
    font-size: 13px;
    width: 100%;
    border-radius: 7px;
    height: 36px;
    padding: 12px;
    border: 1px solid #D1D5DB;
}






.botretbox .btboxtb{
    background: white;
    padding: 16px 20px;
    display: flex;
    flex-flow: column ;
    gap: 10px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.btboxtb .iftt{
    width: 100%;
    height: 35px;
    border-radius: 7px;
    padding:0 14px;
    display: flex;
    font-size: 12px;
    align-items: center;
    background-color: #FFF9EC;
    border: 1px solid #FDE68A;
    color: #92400E;
}
.btboxtb .iftt span{
    margin-right: 8px;
}

.btboxtb ul{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    height: 34px;
    font-size: 12px;
    border-bottom: 1px solid #E5E7EB;
}
.btboxtb ul:last-child{
    border-bottom: none;
}

.btboxtb ul:nth-child(2){
    background: #F1F5F9;
    font-weight: bold;
    color: #6B7280;
    border: 1px solid #E5E7EB;
}

.btboxtb ul li{
    height: 34px;
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}



.btboxtb ul:nth-child(2) li:nth-child(2){
    color: #6B7280;
}
.btboxtb ul li:nth-child(2){
    color: #16A34A;
    font-weight: bold;
}
.btboxtb ul li.pls0{
    font-weight: normal;
    color: #9CA3AF;
}

.btboxtb ul:nth-child(2) li:nth-child(3){
    color: #6B7280;
}
.btboxtb ul li:nth-child(3){
    color: #1B3A6B;
    font-weight: bold;
}



