.inwrap {
    display: flex;
    flex-flow: row;
}




.main {
    background: #F1F5F9;
    padding: 20px;
    margin-top: 56px;
    height: calc(100vh -56px);
    width: calc(100% - 210px);
}

/* 
    .textbox{
        width: 100%;
    }


    .texts ul{
        font-size: 13px;
        box-sizing: border-box;
        border-top: 1px solid #E5E7EB;
        width: 100%;
        height: 44px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around; 
        background-color: white;
    }
    .texts ul:last-child{
        border-top: none;
        border: 1px solid #E5E7EB;
    }
    .texts ul:first-child  {
        border-top: none;
        background:none ;
        color: #6B7280;
        font-weight: bold;
    }
    .texts ul:last-child{
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }


    .texts ul li{
        flex:1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    .texts ul li span.jjs{
        border-radius: 15px;
        padding: 5px 8px;
        background: #DCFCE7;
        color: #16A34A;
    }
    .texts ul li span.hjs{
        border-radius: 15px;
        padding: 5px 8px;
        background: #FEF3C7;
        color: #D97706;
    }
    .texts ul li span.sjs{
        border-radius: 5px;
        padding: 5px 8px;
        background: #EFF6FF;
        color: #2563EB;
    }
    .texts ul:first-child li:nth-child(8){
        justify-content: center;
        flex: 3;
    }
    .texts ul li:nth-child(8){
        justify-content: left;
        flex: 3;
    }


    .texts ul li:nth-child(3){
        font-weight: bold;
    }
    .textsbtns li{
        margin-right: 10px;
        display: flex;
        gap: 10px;
    }
    .textsbtns span{
        cursor: pointer;
        border-radius: 5px;
        padding: 2px  8px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }


    .textsbtns span:hover{
        background: #1B3A6B;
        color: white;
        font-weight: bold;
    }
    .textsbtns span.textsces{
        background: #1B3A6B;
        color: white;
        font-weight: bold;
    } 
*/






.findebox {
    border: 1px solid #E5E7EB;
    border-radius: 15px;
    padding: 15px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.findebox h3 {
    font-size: 13px;
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 5px;
}

.findebox h3 img {
    width: 14px;
    height: 14px;
}

.findeinput {
    font-size: 13px;
    width: 100%;
    display: flex;
    gap: 15px;
    flex-flow: row wrap;
}

.findeinput select {
    -webkit-appearance: none;
    /* 크롬 화살표 없애기 */
    -moz-appearance: none;
    /* 파이어폭스 화살표 없애기 */
    appearance: none;
    /* 화살표 없애기 */
}

.findeinput label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.findeinput label input,
.findeinput label select {
    border: 1px solid #D1D5DB;
    padding: 5px 10px;
    border-radius: 5px;
    width: 120px;
}

.findebox button {
    height: 34px;
    border-radius: 5px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    padding: 0 14px;
    cursor: pointer;
}

.cghbtn {
    background-color: white;
    border: 1px solid #D1D5DB;
}

.jhbtn {
    background-color: #1B3A6B;
    color: white;
}













.wrap {
    position: relative;
}





.modalwrap {
    z-index: 99999999;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 500px;
}

.modal {
    margin: 0 auto;
    width: 600px;
    height: 814px;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
}

.tit {
    background: #1B3A6B;
    display: flex;
    align-items: center;
    height: 56px;
    color: white;
    padding: 0 20px;
    justify-content: space-between;
}


.titlft {
    font-size: 16;
    font-weight: bold;
    display: flex;
    gap: 10;
}

.titret {
    width: 32px;
    height: 32px;
    background: #2D5F9E;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.modalin {
    width: 100%;
    height: 100%;
    padding: 16px;
    display: flex;
    flex-flow: column;
    gap: 14;
}


.lblbox {
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
}

.lblbox h1 {
    position: relative;
    padding: 0 12px;
    font-size: 14px;
    color: #1B3A6B;
    font-weight: bold;
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #E5E7EB;
}

.lblbox h1::after {
    position: absolute;
    content: "";
    width: 3;
    height: 16px;
    background: #1B3A6B;
    left: 0;
    border-radius: 10px;
}

.lbl {
    width: calc(50% - 6px);
    display: flex;
    flex-flow: column;
    gap: 4;
}

.lbl p {
    width: 100%;
    color: #374151;
    font-weight: bold;
}

.lbl p span {
    color: red;
}

.lbl input,
.lbl select,
.lbl ul {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    border: 1px solid #D1D5DB;
    border-radius: 10px;
    font-size: 13px;
    cursor: pointer;
}


.noinput {
    background: #F9FAFB;
    cursor: default !important;
}

.lbl ul {
    cursor: default !important;
    display: flex;
    justify-content: space-around;
}

.lbl ul li label {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6;
    color: #6B7280;
}

.lbl ul li input {
    width: 16px;
}

.checked {
    color: black !important;
    font-weight: bold;
}