.inwrap {
    display: flex;
    flex-flow: row;
}


.main {
    background: #F1F5F9;
    padding: 20px;
    margin-top: 56px;
    height: calc(100vh -56px);
    width: calc(100% - 210px);
}


.main {
    max-height: 900px;
    overflow-y: auto;
}

.textbox {
    width: 100%;
}

/* 
    .texts ul{
        font-size: 13px;
        box-sizing: border-box;
        border-top: 1px solid #E5E7EB;
        width: 100%;
        height: 44px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around; 
        background-color: white;
    }
    .texts ul:last-child{
        border-top: none;
        border: 1px solid #E5E7EB;
    }
    .texts ul:first-child  {
        border-top: none;
        background:none ;
        color: #6B7280;
        font-weight: bold;
    }
    .texts ul:last-child{
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }


    .texts ul li{
        flex:1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    .texts ul li span.jjs{
        border-radius: 15px;
        padding: 5px 8px;
        background: #DCFCE7;
        color: #16A34A;
    }
    .texts ul li span.hjs{
        border-radius: 15px;
        padding: 5px 8px;
        background: #FEF3C7;
        color: #D97706;
    }
    .texts ul li span.sjs{
        border-radius: 5px;
        padding: 5px 8px;
        background: #EFF6FF;
        color: #2563EB;
    }
    .texts ul:first-child li:nth-child(8){
        justify-content: center;
        flex: 3;
    }
    .texts ul li:nth-child(8){
        justify-content: left;
        flex: 3;
    }


    .texts ul li:nth-child(3){
        font-weight: bold;
    }
    .textsbtns li{
        margin-right: 10px;
        display: flex;
        gap: 10px;
    }
    .textsbtns span{
        cursor: pointer;
        border-radius: 5px;
        padding: 2px  8px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }


    .textsbtns span:hover{
        background: #1B3A6B;
        color: white;
        font-weight: bold;
    }
    .textsbtns span.textsces{
        background: #1B3A6B;
        color: white;
        font-weight: bold;
    }
*/






.findebox {
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    padding: 20px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.findebox h3 {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 5px;
    font-size: 13px;
}

.findebox p {
    height: 38px;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    background-color: #F1F5F9;
    border: 1px solid #D1D5DB;
}

.findebox h3 img {
    width: 14px;
    height: 14px;
}

.findeinput {
    font-size: 13px;
    width: 100%;
    display: flex;
    gap: 15px;
    flex-flow: row wrap;
}

.findeinput label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.findeinput label input,
.findeinput label select {
    border: 1px solid #D1D5DB;
    padding: 5px 10px;
    border-radius: 5px;
    width: 120px;
    height: 38px;
}

.findebox button {
    height: 38px;
    border-radius: 5px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    padding: 0 14px;
    cursor: pointer;
}

.cghbtn {
    background-color: white;
    border: 1px solid #D1D5DB;
}

.jhbtn {
    background-color: #1B3A6B;
    color: white;
}

.sone button {
    background-color: #1B3A6B;
}

.days span {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F9FAFB;
    width: 28px;
    height: 38px;
    border: 1px solid #D1D5DB;
    color: #9CA3AF;
}

.sone p {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.sone input[type="text"] {
    width: 200px;
    text-align: center;
    border-radius: 0px;
}

.sone button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.bls p {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.bls select {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.days p {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.days input[type="date"] {
    border-radius: 0;
}

.days input[type="date"]:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.inputform {
    width: 100%;
    display: flex;
    flex-flow: column;
}


.fromtit {
    width: 100%;
    background-color: #F8FAFC;
    border-radius: 8px;
    padding: 10px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


.fromtit h1,
.fromtit h2 {
    gap: 5px;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
}

.fromtit h1 {
    color: #1B3A6B;
    font-weight: bold;
    font-size: 13px;
}

.fromtit h1 img {
    width: 15px;
    height: 15px;
}

.fromtit h2 {
    font-size: 12px;
    font-weight: bold;
    color: #2563EB;
}

.fromtit h2 img {
    width: 13px;
    height: 13px;
}

.formbox {
    border: 1px solid #E5E7EB;
    border-top: none;
    gap: 16px 0;
    display: flex;
    flex-flow: column;
    padding: 20px;
    background-color: #FFFFFF;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.formboxtp {
    display: flex;
    flex-flow: row wrap;
    font-size: 13px;
    gap: 20px;
}

.formboxtp p {
    font-weight: bold;
}

.formboxtp label {
    display: flex;
    flex-flow: column;
    gap: 6px 0;
}


.uhfm ul {
    display: flex;
}

.uhfm ul li {
    color: #6B7280;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    height: 36px;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D1D5DB;
    /* background: #1B3A6B; */
}

.uhfm ul li:first-child {
    color: white;
    border: 1px solid #1B3A6B;
    background: #1B3A6B;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.uhfm ul li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dayfm input {
    border-radius: 6;
    padding: 12px;
    border: 1px solid #D1D5DB;
    height: 36px;
    width: 180px;
}

.numfm input {
    border-radius: 6;
    padding: 12px;
    border: 1px solid #D1D5DB;
    height: 36px;
    width: 160px;
    background: #F9FAFB;
    color: #9CA3AF;
}

.sufm input {
    border-radius: 6;
    padding: 12px;
    border: 1px solid #D1D5DB;
    height: 36px;
    width: 260px;
}

.formboxmd {
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
}

.fmmdlt {
    text-align: left;
    border: 1px solid #FECACA;
    border-radius: 5px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    background: #FFF7F7;
    width: 543px;
    height: 124px;
    gap: 7px;
}

.fmmdlttit {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.fmmdlttit span {
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 12px;
    background: #FEE2E2;
    border-radius: 50px;
}




.fmmdrt .fmmdlttit span {
    background: #DBEAFE;
    color: #1D4ED8;
}

.fmmdrt select {
    border-color: #1D4ED8;
    color: #1D4ED8;
}










.fmmdline {
    height: 1px;
    width: 435px;
}

.fmmdlt .fmmdline {
    height: 1px;
    width: 435px;
    background-color: #FECACA;
}

.fmmdrt .fmmdline {
    height: 1px;
    width: 435px;
    background-color: #BFDBFE;
}

.fmmdltinput {
    display: flex;
    gap: 12px;
}

.fmmdltinput input {
    text-align: center;
}

.fmmdltinput input,
.fmmdltinput select {
    font-size: 13px;
    padding: 0 12px;
    width: 162px;
    height: 36px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #FECACA;
}

.fmmdltinput label {
    display: flex;
    flex-flow: column;
    gap: 6;
    position: relative;
}

.fmmdltinput label img {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    right: calc(0% + 12px);
    transform: translateY(50%);
}

.fmmdltinput label p {
    font-size: 12px;
    color: #6B7280;
}

.formboxmd h3 {
    margin-left: 10px;
    width: 24.1px;
    height: 124px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.fmmdrt {
    border: 1px solid #BFDBFE;
    border-radius: 5px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    width: 543px;
    height: 124px;
    gap: 12px;
    background: #F0F7FF;
}


.formboxbt {
    width: 100%;
    display: flex;
    flex-flow: column;
}

.formboxbt h1 {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 6px;
}

.formboxbt textarea {
    width: 1150px;
    height: 82px;
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
}

.fmbtns {
    margin-top: 16px;
    display: flex;
    flex-flow: row;
    gap: 8px;
    justify-content: right;
}

.fmbtns button {
    font-weight: bold;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    gap: 3px;
    font-size: 13px;
    width: 83px;
    height: 36px;
    border: 1px solid #D1D5DB;
}

.css img.jjs img {
    width: 13px;
    height: 13px;
}

.jjs {
    color: white;
    background-color: #1B3A6B;
}

.textbox {
    margin-top: 16px;
}


























/* 모달창  */



.wrap {
    position: relative;
}





.modalwrap {
    z-index: 99999999;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 500px; */
}

.modal {
    margin: 0 auto;
    width: 700px;
    /* height: 814px; */
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
}

.tit {
    background: #1B3A6B;
    display: flex;
    align-items: center;
    height: 56px;
    color: white;
    padding: 0 20px;
    justify-content: space-between;
}


.titlft {
    font-size: 16;
    font-weight: bold;
    align-items: center;
    display: flex;
    gap: 10;
}

.titret {
    width: 32px;
    height: 32px;
    background: #2D5F9E;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.titret:hover {
    background: #ffffff;
    color: #000;
}


.modalin {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.topbox {
    background: #F8FAFC;
    padding: 20px;
    display: flex;
    gap: 16px;
    border-bottom: 1px solid #E5E7EB;
}

.use {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.use button {
    border-radius: 3px;
    color: #6B7280;
    font-size: 11px;
    width: 55px;
    height: 20px;
    border: 1px solid #D1D5DB;
    display: flex;
    flex-flow: row wrap;
    gap: 5;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.usebox {
    border: 1px solid #D1D5DB;
    width: 76px;
    height: 88px;
    border-radius: 10px;
    background: #F1F5F9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    color: #94A3B8;
    font-size: 11px;
}


.topbox ul {
    display: flex;
    flex-flow: column wrap;
    width: calc(100% - 76px);
}

.topbox>ul>li {
    margin: 7px 0;
    width: 100%;
    height: 1px;
    background-color: #E5E7EB;
}

.topbox ul ul {
    width: 100%;
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    margin: 10px 0;
}

.topbox ul ul li {
    line-height: 20px;
    padding: 0px 16px;
    border-right: 1px solid #E5E7EB;
    width: calc(100% / 4);
    font-size: 13px
}

.topbox ul ul li p {
    font-size: 11px;
    color: #9CA3AF;
}

.topbox ul ul:nth-child(5) li:nth-child(3) {
    display: none;
}

.topbox ul ul:nth-child(5) li:nth-child(2) {
    flex: 2.3;
}

.topbox ul ul:nth-child(5) li:nth-child(4) {
    color: #1B3A6B;
}

.pd {
    padding: 1px 8px;
    border-radius: 10px;
}

.pd.ost {
    background: #d5e7ff;
    color: #1D4ED8;
}

.pd.jjj {
    background: #c7ffda;
    color: #16A34A;
}





.cllist {
    display: flex;
    flex-flow: row wrap;
    font-size: 13px;
}

.cllist li {
    display: flex;
    text-align: center;
    padding: 12px 20px;
    cursor: pointer;
}

.cllist li.cl {
    font-size: 14px;
    font-weight: bold;
    position: relative;
    color: #1B3A6B;
}

.cllist li.cl::after {
    content: "";
    width: 100%;
    height: 1.5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #1B3A6B;
}






/* 발령이력 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.inbox {
    padding: 16px;
    display: flex;
    flex-flow: column;
    gap: 5px;
}


.titbox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titbox .tpd {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0 8px;
    font-weight: bold;
    background: hsl(213, 100%, 93%);
    color: #2563EB;
    flex: 0 0 auto;
    font-size: 11px;
}


.titbox p {
    flex: 0 0 auto;
    color: #9CA3AF;
    font-size: 11px;
}

.htit {
    position: relative;
    padding: 0 12px;
    font-size: 14px;
    color: #1B3A6B;
    font-weight: bold;
    width: 100%;
    height: 25px;
}

.htit::after {
    position: absolute;
    content: "";
    width: 3;
    height: 16px;
    background: #1B3A6B;
    left: 0;
    border-radius: 10px;
}

.mdtb {
    display: flex;
    flex-flow: column;
}

.mdtb ul {
    display: flex;
    flex-flow: row wrap;
}

.mdtb ul li {
    padding: 11px 12px;
    border-bottom: 1px solid #E5E7EB;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    font-size: 12px;
}


.mdtb ul:first-child li {
    background: #F1F5F9;
    font-weight: bold;
    color: #6B7280 !important;
}

.mdtb ul li:nth-child(2) {
    flex: 0.8;
}

.mdtb ul li:nth-child(3) {
    flex: 2;
    color: #9CA3AF;
}

.mdtb ul:last-child li:nth-child(4) {
    color: #9CA3AF;
}

.mdtb ul li:nth-child(4) {
    flex: 2;
    color: #1D4ED8;
    font-weight: bold;
}

.pd {
    font-weight: bold;
}

.pd.sj {
    background: #DCFCE7;
    color: #16A34A;
}

.pd.jb {
    background: #FEF9C3;
    color: #CA8A04;
}

.pd.sgos {
    background: #EDE9FE;
    color: #7C3AED;
}


/* 올해근태요약 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.gtootb {
    width: 100%;
    display: flex;
    gap: 8;
}

.gtootb li {
    border-radius: 10px;
    height: 70px;
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.gtootb li h1 {
    font-size: 22px;
    font-weight: bold;
}

.gtootb li p {
    font-size: 11px;
    color: #6B7280;
}

.gtootb li:nth-child(1) {
    border-color: #BFDBFE;
    background: #F0F7FF;

}

.gtootb li:nth-child(1) h1 {
    color: #1B3A6B;
}



.gtootb li:nth-child(2) {
    border-color: #FECACA;
    background: #FFF7F7;

}

.gtootb li:nth-child(2) h1 {
    color: #DC2626;
}



.gtootb li:nth-child(3) {
    border-color: #BBF7D0;
    background: #F0FDF4;

}

.gtootb li:nth-child(3) h1 {
    color: #16A34A;
}



.gtootb li:nth-child(4) {
    border-color: #FDE68A;
    background: #FFFBEB;

}

.gtootb li:nth-child(4) h1 {
    color: #D97706;
}



.gtootb li:nth-child(5) {
    border-color: #DDD6FE;
    background: #F5F3FF;

}

.gtootb li:nth-child(5) h1 {
    color: #7C3AED;
}



.gtootb li:nth-child(6) {
    border-color: #E5E7EB;
    background: #F9FAFB;

}

.gtootb li:nth-child(6) h1 {
    color: #9CA3AF;
}


/* 급여이력 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.gooltb {
    display: flex;
    flex-flow: column;
}

.gooltb ul {
    display: flex;
    flex-flow: row wrap;
}

.gooltb ul li {
    padding: 11px 12px;
    border-bottom: 1px solid #E5E7EB;
    flex: 1;
    padding-right: 20px;
    padding-left: 20px;
    justify-content: right;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    font-size: 12px;
}


.gooltb ul:first-child li {
    background: #F1F5F9;
    font-weight: bold;
    justify-content: center !important;
    color: #6B7280 !important;
}

.gooltb ul li:nth-child(1) {
    flex: 0.7;
}

.gooltb ul li:nth-child(2) {
    flex: 3;
}

.gooltb ul li:nth-child(5) {
    color: #1B3A6B;
    font-weight: bold;
}



/* 자격증/학력 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.jjjhltb {
    width: 100%;
    display: flex;
    gap: 12;
}

.jjjhltb ul {
    width: 100%;
    display: flex;
    gap: 8;
    flex-flow: column;
}

.jjjhltb ul>h1 {
    width: 100%;
    display: flex;
    font-size: 13;
    align-items: center;
    gap: 5;
    flex-flow: row wrap;
}

.jjjhltb ul li {
    padding: 10px 12px;
    border-radius: 1px;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.jjjhltb ul li h1 {
    font-size: 13px;
    font-weight: bold;
}

.jjjhltb ul li p {
    font-size: 11px;
    color: #9CA3AF;
}


.jjjhltb ul:nth-child(1) li {
    border-radius: 10px;
    border: 1px solid #FDE68A;
    background: #FFF9EC;

}

.jjjhltb ul:nth-child(2) li {
    border-radius: 10px;
    background: #F0F7FF;
    border: 1px solid #BFDBFE;
}

















.btlft {
    background: #F8FAFC;
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0 20px;
    justify-content: space-between;
    border-top: 1px solid #E5E7EB
}


.btlft p {
    display: flex;
    align-items: center;
    gap: 5;
    font-size: 12px;
    color: #9CA3AF;
}

.btlft p span {
    margin-right: 5px;
    color: red;
}

.btret {
    display: flex;
    flex-flow: row wrap;
    gap: 8;
}

.btret button {
    cursor: pointer;
    font-size: 14px;
    display: flex;
    flex-flow: row wrap;
    height: 36px;
    padding: 0 20px;
    justify-self: center;
    align-items: center;
    gap: 6;
    font-weight: bold;
    border-radius: 10px;
}



.btret button:first-child {
    background: #FFFFFF;
    border: 1px solid #D1D5DB
}

.btret button:last-child {
    color: white;
    background: #1B3A6B;
}

.btret button:last-child:hover {
    color: white;
    background: #435e89;
}

.sgdlbtn {
    right: 20px;
    top: 117px;
    width: 96px;
    height: 34px;
    position: absolute;
    cursor: pointer;
}

.btnbox {
    display: flex;
    gap: 8;
}

.osbtn {
    height: 30px;
    display: flex;
    padding: 0 12px;
    justify-content: center;
    align-items: center;
    gap: 5;
    font-weight: bold;
    color: #93C5FD;
    border-radius: 7px;
    background: #2D5F9E;
    cursor: pointer;
}

.osbtn:hover {
    color: #000000;
    background: #ffffff;
}














.pdfbtn {
    right: 122px;
    top: 117px;
    width: 130px;
    height: 34px;
    position: absolute;
    cursor: pointer;
}


.pdfpop {
    z-index: 10;
    padding-top: 28px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.pdfic {
    width: 48px;
    height: 48px;
    background: #EFF6FF;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.pdfpop h1 {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
}

.pdfpop p {
    text-align: center;
    color: #6B7280;
    font-size: 14px;
    margin-bottom: 25px;
}

.pdfbtns {
    width: 100%;
    height: 76px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.pdfbtns button {
    width: 180px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
}

.pdfbtns button:nth-child(1) {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.pdfbtns button:nth-child(2) {
    background: #2563EB;
    color: white;
}