.inwrap {
    display: flex;
    flex-flow: row;
}


.main {
    background: #F1F5F9;
    padding: 20px;
    margin-top: 56px;
    height: calc(100vh -56px);
    width: calc(100% - 210px);
    display: flex;
    flex-flow: column;
    gap: 15;
}








.findebox {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 78px;
    padding: 14px 20px;
    border-radius: 7px;
}


.fdlftbox {
    width: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 16;
}



.lbl {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    gap: 8;
}

.lbl>p {
    font-weight: bold;
    font-size: 13px;
    color: #374151;
}

.lbl select {
    font-size: 13px;
    height: 34px;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    padding: 0 9px;
    width: 160px;
}


/* 딜력 방향버튼 */
.jgfmin {
    position: relative;
    height: 34px;
    display: flex;
    flex-flow: row wrap;
}

.jgfmin p {
    width: 34px;
    background-color: #F9FAFB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #D1D5DB;
}

.jgfmin p:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.jgfmin p:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.jgfmin p:hover {
    background-color: #d3d3d4;
}

.jgfmin input {
    padding-left: 10px;
    text-align: center;
    cursor: pointer;
    width: 107px;
    background-color: #FFFFFF;
    display: flex;
    border: 1px solid #D1D5DB;
    border-left: none;
    border-right: none;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}

.jgfmin .cld {
    position: absolute;
    top: 29%;
    left: 28%;
}





.fdlftbox>span {
    font-size: 12px;
    gap: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 23px;
    border-radius: 7px;
    background: #DCFCE7;
    color: #16A34A;
    padding: 2px 14px;
    font-weight: bold;
}

.fdlftbox>span p {
    font-size: 8px;
}



.fdlftbox>p {
    font-size: 12px;
    gap: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9CA3AF;

}








.fdnd {
    display: flex;
}

.fdnd li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 34px;
    border: 1px solid #D1D5DB;
    color: #9CA3AF;
    font-size: 12px;
}

.fdnd li:nth-child(1) {
    border-radius: 10px 0 0 10px;
}

.fdnd li:nth-child(3) {
    border-radius: 0 10px 10px 0px;
    border-color: #1B3A6B;
    background-color: #1B3A6B;
    color: white;
}

.fdnd li:nth-child(2) {
    border-left: none;
}








.boxbox ul {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
}

.boxbox ul li {
    width: 290px;
    display: flex;
    flex-flow: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.boxtit {
    display: flex;
    height: 44px;
    padding: 0 16px;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(225deg, #1B3A6B 14.64%, #2563EB 85.36%);
}

.boxtitic {
    display: flex;
    align-items: center;
    gap: 8;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.ics {
    width: 28px;
    height: 28px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff40;
}

.boxtit>P {
    padding: 1px 10px;
    background: white;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #1B3A6B;
}

.boxtt {
    padding: 15px;
    background-color: white;
    display: flex;
    flex-flow: column;
    gap: 10;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.boxttin {
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: #1D4ED8;
    width: 100%;
    gap: 6;
    background: #EFF6FF;
    border-radius: 10px;
}

.boxttlb {
    display: flex;
    gap: 8;
}

.boxttlb label {
    width: 50%;
    display: flex;
    flex-flow: column;
    gap: 5;
}

.boxttlb label p {
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 2;
}

.boxttlb label p span {
    font-size: 7px;
}


.boxttlbin {
    display: flex;
    font-size: 14px;
    font-weight: bold;
}

.boxttlbin input,
.boxttlbin .boxttlbinpst {
    width: 93px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.boxttlbin input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #D1D5DB;
}

.boxttlbin .boxttlbinpst {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #D1D5DB;
    border-left: none;
    background: #F1F5F9;

}

.boxttlb label h1 {
    width: 100%;
    padding: 2px 10px;
    background: rgb(244, 244, 244);
    color: #1D4ED8;
    font-size: 11px;
    font-weight: bold;
    text-align: right;
    border-radius: 7px;
}

.boxttin {
    padding: 20px 10px;
    display: flex;
    justify-content: left;
}

.boxttin.bdl {
    justify-content: space-between !important;
}

.boxttinlft {
    display: flex;
    gap: 2;
    align-items: center;
    color: black;
}

.boxttinret {
    font-weight: bold;
}

.gmog label:first-child span {
    color: #3B82F6;
}

.boxttlb label:last-child span {
    color: #7C3AED;
}

.gmog .gljin * {
    color: #1D4ED8;
    border-color: #2563EB;
}










.ggbh .boxtit {
    background: linear-gradient(225deg, #0F766E 14.64%, #14B8A6 85.36%);
}

.ggbh .boxtit p {
    color: #0F766E;
}

.ggbh .boxttin {
    background: #d2f0e9;
    color: #0F766E;
}

.ggbh label:first-child span {
    color: #14B8A6;
}



.ggbh .jgoobh {
    display: flex;
    flex-flow: column;
    gap: 10;

}

.ggbh .jgoobh h1 {
    display: flex;
    gap: 2;
    align-items: center;
    font-size: 11px;
    font-weight: bold;
}


.ggbh .jgoobh span {
    font-size: 8px;
    color: #F59E0B;
}

.ggbh .jgoobh p {
    margin-left: 10px;
    font-size: 11px;
    padding: 10px;
    color: #D97706;
    background: #FEF9C3;
    border-radius: 20px;
    height: 18px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.ggbh .jgoobhin {
    display: flex;
    justify-content: center;
    gap: 8;
}

.ggbh .jgoobhinbox {
    display: flex;
}


.ggbh .jgoobhinbox input,
.ggbh .jgoobhinbox .jgoobhinboxpst {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.ggbh .jgoobhinbox input {
    width: calc(100% - 34px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #D1D5DB;
}

.ggbh .jgoobhinbox .jgoobhinboxpst {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #D1D5DB;
    border-left: none;
    background: #F1F5F9;

}


.ggbh .boxttlb label:first-child h1 {
    color: #0F766E;
}

.ggbh .gljin * {
    color: #0F766E;
    border-color: #14B8A6;
}












.gobh .boxtit {
    background: linear-gradient(225deg, #92400E 14.64%, #D97706 85.36%);
}


.gobh .boxttin {
    background: #FFFBEB;
    color: #92400E;
}

.gobh label:first-child span {
    color: #F59E0B;

}

.gobh .boxttlb label:first-child h1 {
    color: #D97706;
}

.gobh .boxttinret {
    color: #D97706;
}

.gobh .gljin * {
    color: #D97706;
    border-color: #FDE68A;
}











.hjbh .boxtit {
    background: linear-gradient(225deg, #991B1B 14.64%, #DC2626 85.36%);
}

.hjbh .boxttin {
    background: #FFF5F5;
    color: #991B1B;
}

.hjbh label {
    width: 100%;
}

.hjbh label input {
    width: 228px;
}

.hjbh label .boxttlbinpst {
    width: 34px;
}

.hjbh label:first-child span {
    color: #DC2626;

}

.hjbh .boxttlb label:first-child h1 {
    color: #DC2626;
}

.hjbh .gljbd {
    display: flex;
    gap: 5;
    flex-flow: column;
}


.hjbh .gljbd h1 {
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 2;
    color: #9CA3AF;
}

.hjbh .gljbd h1 span {
    font-size: 7px;
    color: #E5E7EB;
}

.hjbh .gljbd .gljbdhdoo {
    width: 100%;
    height: 38px;
    border-radius: 7px;
    background: #F8FAFC;
    border: 1px solid #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #9CA3AF;
}

.hjbh .hjoj {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6;
    font-size: 11px;
}

.hjbh .hjoj p {
    color: #6B7280;
}

.hjbh .hjoj span {
    background: #FFF5F5;
    border: 1px solid #FECACA;
    padding: 0 10px;
    color: #DC2626;
    border-radius: 10px;
    font-weight: bold;
}

.hjbh .gljin * {
    color: #DC2626;
    border-color: #ff7575;
}










.oooo {
    width: 100%;
    height: 76px;
    background: #1B3A6B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 14px 20px;
    color: white;
}

.oooo .oooolft {
    display: flex;
    align-items: center;
    gap: 6;
    font-size: 14px;
}

.oooo .ooooret {
    display: flex;
    align-items: center;
    gap: 10;
}

.oooo .ooooret .ooooretbox {
    display: flex;
    align-items: center;
    gap: 17;
    padding: 3px 16px;
    background: #2D5F9E;
    border-radius: 10px;

}

.oooo .ooooret .ooooretbox h1 {
    font-size: 16px;
    font-weight: bold;
}

.oooo .ooooret .ooooretbox:last-child h1 {
    color: #FCD34D;
}

.oooo .ooooret .ooooretbox h1 p {
    font-size: 11px;
    font-weight: normal;
    color: #93C5FD;
}

.oooo .ooooret .ooooretbox h2 {
    font-size: 10px;
    color: #93C5FD;
}

.oooo .ooooret .ooooretbox h2 p {
    font-size: 10px;
    color: #93C5FD;
}

.oooo .ooooret .pls {
    font-size: 25px;
    color: #93C5FD;
}
















































.tbin {
    display: flex;
    flex-flow: column wrap;
}

.tbin ul {
    display: flex;
    flex-flow: row wrap;
    font-size: 12px;
    background-color: white;
}

.tbin ul li {
    height: 44px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #E5E7EB;
    border-bottom: 1px solid #E5E7EB;
}

.tbin ul li:first-child {
    border-left: 1px solid #E5E7EB;
}

.tbin ul li p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    color: #9CA3AF !important;
}

.tbin ul:first-child li {
    line-height: 15px;
    height: 38px;
    display: flex;
    flex-flow: column;
    justify-content: center !important;
    align-items: center;
    font-weight: bold;
    color: #6B7280;
    background: #F1F5F9;
    border-top: 1px solid #E5E7EB;
}



.tbin ul li:nth-child(2) {
    font-weight: bold;
}

.tbin ul li:nth-child(4),
.tbin ul li:nth-child(5),
.tbin ul li:nth-child(6),
.tbin ul li:nth-child(7),
.tbin ul li:nth-child(8),
.tbin ul li:nth-child(9),
.tbin ul li:nth-child(10),
.tbin ul li:nth-child(11) {
    background: #EFF6FF;
}

.tbin ul li:nth-child(4),
.tbin ul li:nth-child(5),
.tbin ul li:nth-child(6),
.tbin ul li:nth-child(7) {
    color: #1D4ED8;
}

.tbin ul li:nth-child(8),
.tbin ul li:nth-child(9),
.tbin ul li:nth-child(10),
.tbin ul li:nth-child(11) {
    color: #7C3AED;
}




.tbin ul:first-child li:nth-child(7) {
    background: #DBEAFE;
}

.tbin ul li:nth-child(7) {
    color: #1E40AF;
    font-weight: bold;
}

.tbin ul li:nth-child(12) {
    background: #EDE9FE;
    color: #7C3AED;
    justify-content: right;
    padding: 0 10px;
    font-weight: bold;
    flex: 4;

}

















.hgtb li {
    font-weight: bold;
    font-size: 11px;
    background: #EAF0FF !important;
}

.hgtb li:nth-child(1) {
    border-right: 1px solid #EAF0FF;
}

.hgtb li:nth-child(12) {
    background: #D8D0FF !important;
    color: #1E40AF;
}



















/* 테이블 위쪽타이들 부분 */
.fromtit {
    width: 100%;
    background-color: #F8FAFC;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


.fromtit h1,
.fromtit h2 {
    gap: 5px;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
}

.fromtit h1 {
    color: #1B3A6B;
    font-weight: bold;
    font-size: 13px;
}

.fromtit h1 span {
    margin-left: 15px;
    font-weight: bold;
    color: #2563EB;
}

.fromtit h1 p {
    padding: 0 5px;
    color: #EF4444;
}

.fromtit h2 {
    padding: 0 10px;
    height: 22px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e3efff;
    color: #2563EB;
    font-weight: bold;
    margin: 0 10px;
}

.fromtitin {
    gap: 10;
    font-size: 11px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.fromtitin p {
    display: flex;
    gap: 2;
    font-size: 11px;
}

.fromtitin p span {
    font-size: 10px;
}

.fromtitin p span:first-child {
    color: #DBEAFE;
}

.fromtitin p span:last-child {
    color: #EDE9FE;
}










.glptt .fromtitin h3 {
    display: flex;
    align-items: center;
    gap: 6;
}

.glptt .fromtitin h3 span {
    width: 14px;
    height: 10px;
    border-radius: 3px;
}

.glptt .fromtitin h3:nth-child(1) span {
    background: #1B3A6B;
}

.glptt .fromtitin h3:nth-child(2) span {
    background: #3B82F6;
}

.glptt .fromtitin h3:nth-child(3) span {
    background: #E2E8F0;
}






/* 테이블 밑에 버튼 */

.textsbtns {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.textsbtns li {
    background: none !important;
    border: none !important;
    margin-right: 10px;
    display: flex;
    gap: 4px;
}

.textsbtns>li>span {
    cursor: pointer;
    border-radius: 5px;
    padding: 2px 8px;
    color: #9CA3AF;
    border: 1px solid rgba(0, 0, 0, 0.1);
}


.textsbtns>li>span:hover {
    background: #1B3A6B;
    color: white;
    font-weight: bold;
}

.textsbtns span.textsces {
    background: #1B3A6B;
    color: white;
    font-weight: bold;
}

.textsbtns li:first-child {
    flex: 9 !important;
    color: #E11D48;
}

.textsbtns li:last-child {
    background-color: white !important;
    flex: 1;
}






.textsbtns h2 {
    font-size: 13px;
    color: #6B7280;
}

.br {
    width: 1px;
    height: 14px;
    margin: 0 12px;
}

.textsbtns li .ttrettt p {
    padding: 0px 10px;
    font-weight: bold;
    border-radius: 10px;
    height: 26px;
    background: #EFF6FF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5;
    color: #374151 !important;
    font-size: 12px;
}

.textsbtns li .ttrettt p span {
    border: none;
    color: #1E40AF;
    background: #DBEAFE;
    padding: 0 10px;
    border-radius: 10px;

}