.header{
    z-index: 10000;
    padding: 0;
    box-sizing: border-box;
    width: 1440px;
    /* width: 100%; */
    display: flex;
    position: fixed;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 56px;
    background-color:#1B3A6B;
    color: white;
    font-size: 14px;
}
.navlft ul,.logo , .navret{
    height: 56px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.logo{
    width: 210px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top:-10px;
    font-size: 16px;
    font-weight: bold;
}
.navlft ul li{
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 56px;
    box-sizing: border-box;
}
.navlft ul a{
    display: flex;
    padding: 22px;
}




.navlft ul li:hover{
    background-color:#2D5F9E;
}
.navlft ul li:first-child:hover{
    background:none;
}

.navret li{
    cursor: pointer;
    font-size: 13px;
}

.navret li:nth-child(1){
    padding: 0px 15px;
    border-right: 1px solid #3B5F9A;
}
.navret li:nth-child(2){
    margin: 0px 10px 0 15px;
}
.navret li:nth-child(3) p{
    color: #CBD5E1;
    padding: 0px 5px;
    border-right: 1px solid #CBD5E1;
}
.navret li:nth-child(4){
    color: #CBD5E1;
    padding: 0px 5px;
}
.navret li:nth-child(5){
    padding: 0px 10px;
}

.name{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3B82F6;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.navlftces{
    background: #2D5F9E;
    font-weight: bold;
}


