
.texts ul{
    font-size: 13px;
    box-sizing: border-box;
    border-top: 1px solid #E5E7EB;
    width: 100%;
    height: 44px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; 
    background-color: white;
}
.texts ul:last-child{
    border-top: none;
    border: 1px solid #E5E7EB;
}
.texts ul:first-child  {
    border-top: none;
    background:none ;
    color: #6B7280;
    font-weight: bold;
}
/* .texts ul:nth-child(odd){background: #F1F5F9;} */
.texts ul:last-child{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


.texts ul li{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.texts ul li span.jjs{
    border-radius: 15px;
    padding: 5px 8px;
    background: #DCFCE7;
    color: #16A34A;
}
.texts ul li span.hjs{
    border-radius: 15px;
    padding: 5px 8px;
    background: #FEF3C7;
    color: #D97706;
}
.texts ul li span.sjs{
    border-radius: 5px;
    padding: 5px 8px;
    background: #EFF6FF;
    color: #2563EB;
}
.texts ul:first-child li:nth-child(8){
    justify-content: center;
    flex: 3;
}
.texts ul li:nth-child(8){
    justify-content: left;
    flex: 3;
}


.texts ul li:nth-child(3){
    font-weight: bold;
}
.textsbtns li{
    margin-right: 10px;
    display: flex;
    gap: 10px;
}
.textsbtns span{
    cursor: pointer;
    border-radius: 5px;
    padding: 2px  8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}


.textsbtns span:hover{
    background: #1B3A6B;
    color: white;
    font-weight: bold;
}
.textsbtns span.textsces{
    background: #1B3A6B;
    color: white;
    font-weight: bold;
}
