
.maps{
    font-size: 12px;
    display: flex;
    align-self: center;
    flex-flow: row wrap;
    gap: 10px;
    margin-bottom: 15px;
}
.maps img{
    display: flex;
    align-self: center;
    flex-flow: row wrap;
    width: 12px;
    height: 12px;
}
.maps p.mapsces{
    color: #2563EB;
}

.titl h3{
    font-weight: bold;
    font-size: 20px;
}

.titl p{
    color: #6B7280;
    font-size: 13px;
}

.tit{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.titr {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
}
.titr button p{
    font-size: 17px;
}
.titr button{
    height: 34px;
    border-radius: 5px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    font-size: 13px;
    padding: 0 14px;
    cursor: pointer;
}
.lftwtbtn {
    background-color: white;
    border: 1px solid #D1D5DB;
}
.retblbtn{
    background-color: #1B3A6B;
    color: white;
}
.lftwtbtn:hover{
    background-color: #c9ddff;
}
.retblbtn:hover{
    background-color: #476494;
}



.prtbtn{
    border: 1px solid #D1D5DB;
    background-color: white;
}